.article {
  margin-top: 30px;
  @extend .row;
  @extend .d-flex;
  @extend .justify-content-center;
  ul {
    padding-left: 40px;
    margin-bottom: 1rem;
  }
  .article__header {
    @extend .col-lg-10;
    @extend .col-md-10;
    @extend .col-sm-12;
    @extend .col-12;
    .header__title {
      @extend .section-title;
      font-size: 36px;
      text-transform: none;
      font-weight: 400;
    }
  }
  
  .article__body--wrapper {
    @extend .col-lg-10;
    @extend .col-md-10;
    @extend .col-sm-12;
    @extend .col-12;
    .article__body {
      background-color: white;
      font-family: 'Nunito', sans-serif;
      font-weight: 300;
      line-height: 28px;
      font-size: 16px;
      color: #1A4262;
      padding: 23px;
      width: 100%;
      p {
        margin-bottom: 2rem;
      }
    }
  }
  
}
@media (min-width: $breakpoint-md) {
  .article {
    margin-top: 60px;
    .article__header {
      .header__title {
        font-size: 50px;
        padding-bottom: 26px;
      }
    }
  }

}
