@mixin color-modifiers($base-class, $dark, $light, $light-blue) {
  &--dark {
    @extend #{$base-class};
    background-color: $dark;

    &:hover {
      background: $python-yellow;

      .yellow-highlight {
        color: $dark-blue;
      }
    }

    &.button-bg--dark:hover {
      background: white;
      color: $dark-blue;
    }
  }

  &--white {
    @extend #{$base-class};
    background-color: white;
    color: $dark-blue;

    &:hover {
      background: $dark-blue;
      color: $white;
    }
  }

  &--light {
    @extend #{$base-class};
    background-color: $light;

    &:hover {
      background: $dark-blue;
    }

    &.button-bg--dark:hover {
      background: white;
    }
  }

  &--light-blue {
    @extend #{$base-class};
    background-color:$light-blue;

    &:hover {
      background: $dark-blue;
    }
  }
}

.snake-button {
  position: relative;

  a {
    color: $dark-blue;
    position: relative;
    z-index: 9;
  }

  a:hover {
    color: white;
  }

  span {
    display: block;
  }

  &:before {
    content: '';
    position: absolute;
    top: -50px;
    right: -85px;
    height: 120px;
    width: 120px;
    display: block;
    background: url('../img/Python14-Cobras-amarelo.svg') no-repeat;
  }
}

.call4paper-button {
  border: 1px solid $background-light;
  border-radius: 5px;
  padding: 5px 10px;

  &:hover {
    border-color: $python-yellow;
    background: $python-yellow;
  }
}

.pybr-button {
  display: block;
  padding: 20px 30px;
  border-radius: 8px;
  font-size: 19px;
  font-weight: 600;
  text-align: center;
  color: white;
  background-color: $background-dark;
  text-decoration: none;
  text-transform: uppercase;
  line-height: normal;
  transition: .3s ease-out;
  &:hover, &:active, &:focus {
    text-decoration: none;
    color: white;
  }
  strong {
    font-size: 26px;
  }

  &__sponsor {
    position:absolute;
    top:30px;
    right:0;
    color: $dark-blue;
    box-shadow: 0px 5px 0 0 $dark-blue;
    transition: box-shadow 0.3s, transform 0.3s;
    strong {
      color: #fff;
      font-size: 16px;
    }

    &:hover {
      color: inherit;
      box-shadow: 0 0 0 0 $dark-blue;
      transform: translate(0px,5px);
    }
}


  @include color-modifiers('.pybr-button', $dark-blue, $python-yellow, $light-blue);
}

.tickets-button {
  position: fixed;
  right: 0;
  bottom: 0px;
  z-index: 999;
  width: 50px;
  transition: width 0.3s;
  &:hover {
    width: 253px;
  }
}

.buy-ticket {
  padding:15px 50px;
  strong {
    font-weight: normal;
  }
}

.pybr-button-large {
  @extend .pybr-button;
  @extend .d-flex;
  @extend .justify-content-center;
  @extend .align-items-center;
  font-size: 20px;
  font-weight: 700;
  height: 140px;
  @include color-modifiers('.pybr-button-large', $dark-blue, $python-yellow, $light-blue);

}
@media (min-width: $breakpoint-xl) {
  .tickets-button {
    bottom: 10%;
  }
}

@media (min-width: $breakpoint-md) {
  .pybr-button {
    font-size: 20px;
    margin: 0 auto;
    strong {
      font-size: 20px;
    }

    &__sponsor {
      strong {
        font-size: 20px;
      }
    }

  }
  .pybr-button-large {
    font-size: 30px;
  }

  .buy-ticket {
    strong {
      font-size: 27px;
    }
  }

}

@media (max-width: $breakpoint-xs) {
  .pybr-button {
    font-size: 30px;
    padding: 8px;
    &__sponsor {
      position: relative;
      font-size:23px;
      top:-5px;
    }
  }

  .buy-ticket {
    font-size: 20px;
    strong {
      font-size: 30px;
    }
  }

  .tickets-button {
    img {
      height: 75px;
    }
    top: 50%;
    width: 28px;
    &:hover {
      width: 120px;
    }
  }
}
