@mixin color-modifiers($dark, $light) {
  &--dark {
    @extend .pybr-button;
    background-color: $dark;
  }

  &--light {
    @extend .pybr-button;
    background-color: $light;
  }
}


.pybr-button {
  padding: 8px;
  border-radius: 8px;
  font-size: 19px;
  font-weight: 600;
  text-align: center;
  color: white;
  background-color: $background-dark;
  text-decoration: none;
  text-transform: uppercase;
  line-height: normal;
  &:hover, &:active, &:focus {
    text-decoration: none;
    color: white;
  }
  strong {
    font-size: 26px;
  }

  @include color-modifiers($dark-blue, $python-yellow);
}

.pybr-button-large {
  @extend .pybr-button;
  @extend .d-flex;
  @extend .justify-content-center;
  @extend .align-items-center;

  @include color-modifiers($dark-blue, $python-yellow);

  height: 140px;
}

@media (min-width: 767px) {
  .pybr-button {
    font-size: 30px;
  }
  strong {
    font-size: 40px;
  }
}