@mixin infinite-line($side: 'left', $color: $python-yellow) {
  &:after {
    content: '';
    position: absolute;
    height: 4px;
    background-color: $color;
    width: 100vw;
    bottom: 0px;
    transform-origin: center left;
    @if $side == 'left' {
      left: 0px;
      transform: translate(-100%, 100%);

    } @else {
      right: 0px;
      transform: translate(100%, 100%);
    }
  }
}

.section-title {
  font-family: 'Advent Pro', sans-serif;
  font-size: 70px;
  line-height: 1.3;
  font-weight: 700;
  text-transform: uppercase;
  color: $dark-blue;
  border-bottom: solid 4px $python-yellow;
  margin-bottom: 20px;
  &--left {
    @extend .section-title;
    text-align: right;
    position: relative;
    @include infinite-line('left', $python-yellow);
  }

  &--right {
    @extend .section-title;
    position: relative;
    @include infinite-line('right', $python-yellow);
  }
}

.section-header-wrapper {
  width: 100%;
  .section-header {
    @extend .col-lg-5;
  }
}