@mixin infinite-line($side: 'left', $color: $python-yellow) {
  &:after {
    content: '';
    position: absolute;
    height: 4px;
    background-color: $color;
    width: 100vw;
    bottom: 0px;
    transform-origin: center left;
    @if $side == 'left' {
      left: 0px;
      transform: translate(-100%, 100%);

    } @else {
      right: 0px;
      transform: translate(100%, 100%);
    }
  }
}

.section-title {
  font-family: 'Advent Pro', sans-serif;
  font-size: 45px;
  line-height: 1.3;
  font-weight: 700;
  text-transform: uppercase;
  color: $dark-blue;
  border-bottom: solid 4px $python-yellow;
  margin-bottom: 20px;
  &--left {
    @extend .section-title;
    text-align: right;
    position: relative;
    @include infinite-line('left', $python-yellow);
  }

  &--right {
    @extend .section-title;
    margin-left: auto;
    position: relative;
    @include infinite-line('right', $python-yellow);
  }
}

.section-header-wrapper {
  width: 100%;
  .section-header {
    @extend .col-lg-4;
    &--right {
      @extend .section-header;
      margin-left: auto;
    }
  }
}

.placeholder-message {
  @extend .d-flex;
  @extend .align-items-center;
  @extend .justify-content-center;
  font-size: 50px;
  height: 400px;
  max-height: 400px;
  height: 70vh;
  font-family: 'Advent Pro', sans-serif;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  color: $dark-blue;
  &--negative {
    @extend .placeholder-message;
    color: white;
  }
}

@media (min-width: $breakpoint-sm) {
  .section-title {
    font-size: 40px;
  }
}

@media (min-width: $breakpoint-md) {
  .section-title {
    font-size: 50px;
  }
}

.intern-page__header {
  padding-top: 30px;
  min-height: 160px;
  @extend .container;
  @extend .d-flex;
  @extend .justify-content-center;
  @extend .align-items-center;
  position: relative;
  &:before {
    position: absolute;
    content: '';
    background-color: $python-yellow;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform-origin: center bottom;
    transform: scale(3, 5);
    bottom: 0;
    left: 0;
  }
  .header__title {
    margin-bottom: 60px;
    position: relative;
    z-index: 2;
    text-align: center;
    font-weight: 600;
    @extend .section-title;
    border-bottom: 0px;
    font-size: 36px;
    strong {
      font-size: 48px;
      display: block;
      font-weight: 400;
    }
    margin-bottom: 10px;
  }
}

@media (min-width: $breakpoint-md) {
  .intern-page__header {
    &:before {
      transform: scale(1.4, 5);
    }
    .header__title {
      font-size: 50px;
      strong {
        font-size: 68px;
        display: block;
      }
    }

  }
}
