.realization-wrapper {
  @include make-angle($background-light, 1);
  .realization-container {
    @extend .container;
    .realization {
      @extend .row;
    }
  }
}

.realization {
  .evolux-logo {
    height: 300px;
    height: 60vh;
    width: 100%;
    max-height: 500px;
    padding-top: 60px;
    @extend .d-flex;
    @extend .col-12;
    @extend .justify-content-center;
    a {
      height: 100px;
    }
  }
}
