.realization-wrapper {
  background-color: white;
  background-repeat: no-repeat;
  background-image: url('../img/Python14-MapaRN-cinza-30.svg');
  background-size: 550px;
  background-position-x: 120%;
  background-position-x: calc(100% + 250px);
  background-position-y: 120%;
  background-position-y: calc(100% + 100px);
  .realization-container {
    @extend .container;
    .realization {
      @extend .row;
    }
  }
}

.realization {
  .evolux-logo {
    height: 400px;
    height: 70vh;
    width: 100%;
    max-height: 500px;
    padding-top: 60px;
    @extend .d-flex;
    @extend .justify-content-center;
  }
}

