${require('templates/partials/header.html') }
<div id="content" class="intern-page-content">
  <header class="intern-page__header">
    <h1 class="header__title">
      Fica <strong>Ligado!</strong>
    </h1>
  </header>
  <article class="article">
    <header class="article__header">
      <h1 class="header__title">
        Código de Conduta do Evento Python Brasil
      </h1>
    </header>
    <div class="article__body--wrapper">
      <div class="article__body">
        <div class="article__content" id="codeOfConductPortuguese">
          <p class="loading-placeholder--big"></p>
          <p class="loading-placeholder--medium"></p>
          <p class="loading-placeholder--big"></p>
          <p class="loading-placeholder--small"></p>
          <br/>
          <p class="loading-placeholder--small"></p>
          <p class="loading-placeholder--medium"></p>
          <p class="loading-placeholder--big"></p>
          <p class="loading-placeholder--small"></p>
          <br/>
          <p class="loading-placeholder--big"></p>
          <p class="loading-placeholder--small"></p>
          <p class="loading-placeholder--small"></p>
          <p class="loading-placeholder--medium"></p>
          <br/>
          <p class="loading-placeholder--medium"></p>
          <p class="loading-placeholder--small"></p>
          <br/>
          <p class="loading-placeholder--big"></p>
          <p class="loading-placeholder--small"></p>
          <p class="loading-placeholder--small"></p>
          <p class="loading-placeholder--medium"></p>
          <br/>
          <p class="loading-placeholder--medium"></p>
          <p class="loading-placeholder--small"></p>
          <br/>
        </div>
      </div>
    </div>
  </article>
  <article class="article">
    <header class="article__header">
      <h1 class="header__title">
          Python Brasil Code of Conduct
      </h1>
    </header>
    <div class="article__body--wrapper">
      <div class="article__body">
        <div class="article__content" id="codeOfConductEnglish">
          <p class="loading-placeholder--big"></p>
          <p class="loading-placeholder--medium"></p>
          <p class="loading-placeholder--big"></p>
          <p class="loading-placeholder--small"></p>
          <br/>
          <p class="loading-placeholder--small"></p>
          <p class="loading-placeholder--medium"></p>
          <p class="loading-placeholder--big"></p>
          <p class="loading-placeholder--small"></p>
          <br/>
          <p class="loading-placeholder--big"></p>
          <p class="loading-placeholder--small"></p>
          <p class="loading-placeholder--small"></p>
          <p class="loading-placeholder--medium"></p>
          <br/>
          <p class="loading-placeholder--medium"></p>
          <p class="loading-placeholder--small"></p>
          <br/>
          <p class="loading-placeholder--big"></p>
          <p class="loading-placeholder--small"></p>
          <p class="loading-placeholder--small"></p>
          <p class="loading-placeholder--medium"></p>
          <br/>
          <p class="loading-placeholder--medium"></p>
          <p class="loading-placeholder--small"></p>
        </div>
      </div>
    </div>
  </article>
  <div class="footer-logo-wrapper">
    <div class="footer-logo">
      <img width="100%" src="${require('img/Python14-NomedoEvento.svg') }" alt="Logo Python Brazil 14">
    </div>
  </div>
</div>
${require('templates/partials/footer.html') }
