${require('templates/partials/header.html') }
<section id="content">
<section id="event-page">
  <div class="bg-overlay">
    <div  class="intern-page-content">
      <header class="intern-page__header">
        <h1 class="header__title">
          O Evento
        </h1>
      </header>
      <div class="page-title">
        <h1>NATAL</h1>
        <h2>A CIDADE DO SOL</h2>
      </div>
    </div>
  </div>
</section>
<section id="about-natal">
  <div  class="intern-page-content">
    <p>
      <strong>Natal</strong>, intitulada como a Cidade do Sol, é um destino turístico mundialmente conhecido por ser porta de entrada para o litoral do estado, que é repleto de belas praias e atividades turísticas. A cidade conta com dois institutos federais de ensino superior, o IFRN e UFRN/IMD, além de abrigar o Parque Tecnológico Metrópole Digital, que visa fomentar, apoiar e desenvolver atividades relacionadas à ciência, tecnologia e inovação no Rio Grande do Norte.
    </p>
  </div>
</section>
<section id="about-event">
  <div class="intern-page-content">
    <article class="event__body--wrapper about-event">
      <div class="event__title">
        <h1>Sobre</h1>
        <h2>O evento</h2>
      </div>
      <div class="event__content">
        <p><strong>Python Brasil</strong> é o maior evento sobre a linguagem de programação Python do país. É suportado por diversos eventos menores locais e regionais que culminam em um encontro nacional e itinerante. Tem como principais objetivos: difundir a linguagem; promover a troca de experiências e conhecimentos; incentivar o crescimento da comunidade, tanto em participantes quanto em impacto social. Seu público é composto, principalmente, por desenvolvedores, engenheiros de software, empresários, gerentes de TI, estudantes e entusiastas.</p>
        <span class="quotation-mark mark-right">”</span>
      </div>
    </article>
    <article class="event__body--wrapper">
      <div class="event__content">
        <p>Durante os 6 dias de imersão os participantes poderão aprender sobre novas tecnologias, compartilhar conhecimento e experiências, ter contato com grandes nomes da comunidade internacional e confraternizar. Tudo isso em um ambiente amistoso, de boa convivência, inclusivo e livre de intimidação, onde todas as pessoas são bem-vindas.</p>
      </div>
    </article>
    <article id="location" class="event__body--wrapper local-area">
      <div class="event__title">
        <h1>
          <div class="map-pin">
            <img src="${require('img/map_pin.svg') }" width="100%" alt="Ícone do Mapa">
          </div>
          Local
        </h1>
        <h2>do evento</h2>
      </div>
      <div class="event__content">
        <span class="quotation-mark mark-left">“</span>
        <p>Situado no coração do bairro de Lagoa Nova, Zona Sul da cidade, o Holiday Inn Natal Hotel possui um dos melhores e mais modernos centros de eventos do nordeste brasileiro. A sua localização, além de privilegiada - entre as duas principais avenidas da cidade, tem vista para o estádio Arena das Dunas, palco dos jogos da Copa do Mundo de 2014. </p>
      </div>
    </article>
    <article class="event__body--wrapper hotel-area">
      <div class="event__title">
        <h3>Hotel holiday Inn Natal</h3>
        <p>Av. Sen. Salgado Filho, 1906 <br> Lagoa Nova, Natal - RN <br> <a href="https://www.holidayinn.com/redirect?path=hd&brandCode=HI&localeCode=pt&regionCode=220&hotelCode=NATAR&_PMID=99801505&GPC=P19&viewfullsite=true">www.holidayinn.com.br</a> </p>
      </div>
      <div class="event__content">
        <p>Durante os dias 19 e 21 de outubro, o <strong>Holiday Inn Natal</strong> vai sediar as palestras da Python Brasil 14, que contará com nomes nacionais e internacionais de referência para a comunidade.</p>
      </div>
    </article>
    <article class="map_img">
      <img src="${require('img/mapa.png') }" alt="" width="100%" height="auto">
    </article>
  </div>
  <span></span>
</section>
<iframe src="https://www.google.com/maps/d/u/0/embed?mid=1WD8OKlMyuMEZqNzTeDIPyUG1Y_cqNO1t" width="100%" height="500"></iframe>
<div class="intern-page-content event-button-area">
  <div class="sponsor-button snake-button">
    <a href="/quero-patrocinar" class="pybr-button--light-blue">
      <span>Seja um</span> patrocinador
    </a>
  </div>
</div>
<section id="realization" class="realization-wrapper">
  <div class="realization-container">
    <div class="realization">
      <header class="section-header-wrapper">
        <div class="section-header">
          <h1 class="section-title--left">
            REALIZAÇÃO
          </h1>
        </div>
      </header>
      <div class="evolux-logo">
        <a target="_blank" href="http://evolux.net.br">
          <img src="${require('img/logo-evolux.svg') }" width="100%" alt="Evolux Logo">
        </a>
      </div>
    </div>
  </div>
</section>
</section>
${require('templates/partials/footer.html') }
