${require('templates/partials/header.html') }
<section id="content">
<section id="event-page">
  <div  class="intern-page-content">
    <header class="intern-page__header">
      <h1 class="header__title">
        O Evento
      </h1>
    </header>
    <div class="page-title">
      <h1>NATAL</h1>
      <h2>A CIDADE DO SOL</h2>
    </div>
  </div>
</section>
<section id="about-natal">
  <div  class="intern-page-content">
    <p>
      Natal é mundialmente conhecida e exerce significativa influência nacional e até internacional, seja do ponto de vista cultural, econômico ou político. Conhecida como “A Cidade do Sol”, é repleta de lugares paradisíacos, blablabla. Exerce significativa influência nacional e até internacional, seja do ponto de vista cultural, econômico ou político. Conhecida como “A Cidade do Sol”, é repleta de lugares paradisíacos, blablabla.
    </p>
  </div>
</section>
<section id="about-event">
  <div class="intern-page-content">
    <hgroup>
      <h1>
        Sobre
      </h1>
      <h4>
        O Evento
      </h4>
    </hgroup>
    <div>
      <p>
      A Python Brasil é o maior encontro da comunidade Python brasileira, que ocorre uma vez ao ano em cidades ao redor do país. Em um contexto bem diversificado e dedicado a troca de experiências e conhecimento, o evento é voltado para indivíduos de diversas áreas e origens, sem distinção do seu grau de conhecimento da linguagem.
      </p>
    </div>
    <div>
      O encontro visa difundir tal plataforma entre universidades, empresas e instituições da sociedade civil, ao mesmo tempo focando em assuntos relacionados a Software Livre, estimulando assim a disseminação da cultura agregada ao tema e na divulgação e estímulo de desenvolvimento na Região Nordeste.
    </div>
  </div>
</section>
</section>
${require('templates/partials/footer.html') }
