${ require('templates/partials/header.html') }
  <section class="content-wrapper" id="content">
    <div>
      <section class="jumbotron-wrapper">
        <div class="jumbotron-container">
          <div class="jumbotron">
            <div class="jumbotron__main">
              <img class="jumbotron__logo d-none d-md-block" height="auto" src="${ require('img/PythonSul2018-NomedoEvento.svg') }" alt="Logo Python Sul 2018">
              <img class="jumbotron__logo d-md-none" height="100%" src="${ require('img/PythonSul2018-NomedoEvento.svg') }" alt="Logo Python Sul 2018">
              <a target="_blank" href="https://www.eventbrite.com.br/e/python-sul-2018-tickets-41849758755" class="pybr-button--dark d-none d-sm-block">
                <strong>Ingressos</strong>
              </a>
            </div>
            <div class="jumbotron__side">
              <img class="d-none d-sm-block" width="100%" src="${ require('img/PythonSul2018-HercilioLuz.svg') }" alt="de 6 a 8 de Abril de 2018 em Florianópolis, Santa Catarina">
              <img class="d-sm-none pybr-date" src="${ require('img/PythonSul2018-HercilioLuz.svg') }" alt="de 6 a 8 de Abril de 2018 em Florianópolis, Santa Catarina">
            </div>
          </div>
        </div>
      </section>
    </div>
    <section class="call4papers-wrapper">
      <a id="call4papers" class="anchor" aria-hidden="true"></a>
      <div class="call4papers-container">
        <div class="call4papers">
          <header class="section-header-wrapper">
            <div class="section-header">
              <h1 class="section-title--left">
                Chamada de trabalhos
              </h1>
            </div>
          </header>
          <div class="call4papers__body">
            A chamada de trabalhos foi encerrada no dia 28 de fevereiro!
          </div>
        </div>
      </div>
    </section>
    <section class="about-wrapper">
      <a id="about" class="anchor" aria-hidden="true"></a>
      <div class="about-container">
        <div class="about">
          <article class="about__article--left">
            <header>
              <h1 class="about__article__section-title--left">
                FLORIPA/SC
              </h1>
            </header>
            <p class="about__article__body">
              Sede da <a href="http://2016.pythonbrasil.org.br/">Python Brasil 12</a>, <a href="http://scipyla.org/conf/2016/">SciPy Latin America 2016</a> e de uma incrível <a href="http://floripa.sc.python.org.br/">comunidade de Python</a> local, Florianópolis é conhecida por sua expansão na área de tecnologia e sua beleza natural, contando com um conjunto de 43 belíssimas praias. Esse potencial turistico da região coloca a conferência em uma esfera de muita expectativa.
            </p>
          </article>
          <article class="about__article--right">
            <header>
              <h1 class="about__article__section-title--right">
                O EVENTO
              </h1>
            </header>
            <p class="about__article__body">
              A conferência Python Sul é um evento regional da linguagem de programação Python, reunindo as comunidades do Rio Grande do Sul, Santa Catarina e Paraná.
              É um evento recente, sendo que a primeira edição foi realizada em 2017, e será anualmente realizada em uma cidade selecionado em um dos estados da região.
              No ano de 2018, iremos realizar a segunda edição da Python Sul em Florianópolis, SC com o objetivo de promover a comunidade local e proporcionar um evento para a comunidade sul do Brasil, uma vez que a Python Brasil irá ocorrer em Natal/RN.
            </p>
          </article>
        </div>
      </div>
    </section>
    <section class="keynotes-wrapper">
      <a id="keynotes" class="anchor" aria-hidden="true"></a>
      <div class="keynotes-container">
        <div class="keynotes">
          <header class="section-header-wrapper">
            <div class="section-header">
              <h1 class="section-title--left">
                Keynotes
              </h1>
            </div>
          </header>
          <section class="keynotes__list">

            <article class="keynote__summary keynote-margin-spacer">
              <div class="keynote__summary__body">
                <header class="keynote__summary__title">
                  Danilo “Mawkee” Martins

                </header>
                <p class="keynote__summary__text">
                  Desenvolvedor backend com background em telecomunicações,
                  Danilo (também conhecido por Mawkee) é um entusiasta de
                  tecnologias livres, aficcionado em programação, e nerd de
                  sexto dan. Atualmente trabalha na Crave Food Services,
                  startup no ramo de alimentações.

                </p>
              </div>
              <div class="keynote__summary__photo">
                <img class="keynote-img-fluid" src="${ require('img/mawkee.jpg') }" alt="Mawkee">

              </div>
            </article>

            <article class="keynote__summary keynote-margin-spacer">
              <div class="keynote__summary__body">
                <header class="keynote__summary__title">
                  Nicolle Cysneiros

                </header>
                <p class="keynote__summary__text">
                  Desenvolvedora fullstack @ Labcodes, trabalha principalmente
                  com Python e Javascript. Faz parte do Grupo de Usuários
                  Python de Pernambuco (PUG-PE) e do PyLadies Recife, é
                  feminista e acredita na inclusão e empoderamento feminino
                  através da tecnologia.

                </p>
              </div>
              <div class="keynote__summary__photo">
                <img class="keynote-img-fluid" src="${ require('img/nicolle.jpg') }" alt="Nicolle Cysneiros">

              </div>
            </article>

            <article class="keynote__summary keynote-margin-spacer">
              <div class="keynote__summary__body">
                <header class="keynote__summary__title">
                  Renzo Nuccitelli

                </header>
                <p class="keynote__summary__text">
                    Engenheiro de Computação formado pelo ITA. Especialista em
                    programação web no Google App Engine, usa Python desde 2009.
                    Foi Diretor de Tecnologia na startup de educação QMagico,
                    Apaixonado por dar aulas, é professor da Fatec onde ministra
                    as matérias de "Orientação a Objetos" e "Aplicações para
                    Internet Utilizando Banco de Dados". Já palestrou em eventos
                    como Pycon US, Google Developer Bus, DevFest, Rupy e Python
                    Brasil. Escreve sobre tecnologia em seu blog.renzo.pro.br.
                    Atualmente é Engenheiro de Qualidade na Red Hat.

              </div>
              <div class="keynote__summary__photo">
                <img class="keynote-img-fluid" src="${ require('img/renzo.png') }" alt="Renzo Nuccitelli">
              </div>
            </article>

            <article class="keynote__summary keynote-margin-spacer">
              <div class="keynote__summary__body">
                <header class="keynote__summary__title">
                  Lais Varejão

                </header>
                <p class="keynote__summary__text">
                  Olindense, vislumbra um futuro com mais mulheres na computação.
                  Organizadora do Django Girls Recife. Alumna do Recurse Center,
                  um retiro para programadores em Nova York. Engenheira de
                  software por formação e entusiasta de Design. Atualmente é
                  desenvolvedora full-stack e gerente de projetos na Vinta
                  Software.

                </p>
              </div>
              <div class="keynote__summary__photo">
                <img class="keynote-img-fluid" src="${ require('img/lais_varejao.jpg') }" alt="Lais Varejão">

              </div>
            </article>

            <article class="keynote__summary keynote-margin-spacer">
              <div class="keynote__summary__body">
                <header class="keynote__summary__title">
                  Filipe Fernandes

                </header>
                <p class="keynote__summary__text">
                    Oceanógrafo Físico por treino, programador por acaso, educador
                    por paixão Filipe trabalha para o U.S. Integrated Ocean Observing
                    System (IOOS), uma força tarefa da NOAA que visa integrar
                    pessoas e tecnologias para melhor desenvolver ferramentas de
                    observação e modelagem oceânica, onde Python, R, e várias
                    tecnologias de data server são centrais para seu sucesso. Em
                    seu tempo livre Filipe se "diverte" distribuindo pacotes
                    binários pelo conda-forge, e ensinado boas práticas de computação
                    científica como instrutor do Software Carpentry.

                </p>
              </div>
              <div class="keynote__summary__photo">
                <img class="keynote-img-fluid" src="${ require('img/filipe_fernandes.png') }" alt="Filipe Fernandes">

              </div>
            </article>
          </section>
        </div>
      </div>
    </section>
    <section class="location-wrapper">
      <a id="location" class="anchor" aria-hidden="true"></a>
      <div class="location-container">
        <div class="location">
          <header class="section-header-wrapper">
            <div class="section-header--right">
              <h1 class="section-title--right">
                LOCAL
              </h1>
            </div>
          </header>
          <div class="location__info">
            <article class="location__info__article">
              <header class="article__header">
                <h1 class="article__header__title">
                  Palestras e Keynotes - Softplan
                </h1>
                <p class="article__header__subtitle">
                  Sapiens Parque - Av. Luiz Boiteux Piazza, 1302 - Canasvieiras, Florianópolis - SC
                </p>
              </header>
            </article>
            <div class="softplan-banner">
              <img class="img-fluid" src="${ require('img/softplan.jpg') }" alt="Fachada da Softplan">
              <a class="softplan-website" target="_blank" href="https://www.softplan.com.br/">
                https://www.softplan.com.br/
              </a>
            </div>
            <div class="cesusc-banner location-margin-spacer">
              <img class="img-fluid" src="${ require('img/campus_cesusc.jpg') }" alt="Campus do Cesusc">
              <a class="cesusc-website" target="_blank" href="https://www.cesusc.edu.br/">
                https://www.cesusc.edu.br/
              </a>
            </div>
            <article class="location__info__article location-margin-spacer">
              <header class="article__header">
                <h1 class="article__header__title">
                  Tutoriais - CESUSC
                </h1>
                <p class="article__header__subtitle">
                  Rod. SC-401, 9301 - Santo Antonio de Lisboa, Florianópolis - SC
                </p>
              </header>
            </article>
          </div>
        </div>
      </div>
    </section>
    <section class="map-wrapper">
      <a id="map" class="anchor" aria-hidden="true"></a>
      <div class="map-container">
        <div class="map">
          <header class="section-header-wrapper">
            <div class="section-header">
              <h1 class="section-title--left">
                MAPA DO EVENTO
              </h1>
            </div>
          </header>
          <h1 class="placeholder-message">
            Em breve
          </h1>
        </div>
      </div>
    </section>
    <section class="sponsors-wrapper">
      <a id="sponsors" class="anchor" aria-hidden="true"></a>
      <div class="sponsors-container">
        <div class="sponsors">
          <header class="section-header-wrapper">
            <div class="section-header--right">
              <h1 class="section-title--right">
                PATROCINADORES
              </h1>
            </div>
          </header>
          <div class="sponsors__gold" id="gold">
            <h2 class="sponsor-category-title">
              OURO
            </h2>
            <ul class="sponsors__list">
              <li class="sponsor">
                <a href="https://loadsmart.com/" target="_blank"><img class="img-fluid" src="${ require('img/logo_loadsmart.png') }" alt="Loadsmart"></a>
              </li>
              <li class="sponsor">
                <a href="https://www.python.org/psf/" target="_blank"><img class="img-fluid" src="${ require('img/logo_psf.png') }" alt="Python Software Foundation"></a>
              </li>
            </ul>
          </div>
          <div class="sponsors__silver" id="silver">
            <h2 class="sponsor-category-title">
              PRATA
            </h2>
            <ul class="sponsors__list">
              <li class="sponsor">
                <a href="http://www.labcodes.com.br/" target="_blank"><img class="img-fluid" src="${ require('img/logo_labcodes.png') }" alt="Labcodes"></a>
              </li>

              <li class="sponsor">
                <a href="https://www.vinta.com.br/" target="_blank"><img class="img-fluid" src="${ require('img/vinta-logo.png') }" alt="Vinta"></a>
              </li>
            </ul>
          </div>
          <div class="sponsors__bronze" id="bronze">
            <h2 class="sponsor-category-title">
              BRONZE
            </h2>
            <ul class="sponsors__list">
              <li class="sponsor">
                <a href="http://www.novafibratelecom.com.br/" target="_blank"><img class="img-fluid" src="${ require('img/nova_fibra.png') }" alt="Nova Fibra"></a>
              </li>
            </ul>
          </div>
          <div class="sponsors__support">
            <h2 class="sponsor-category-title">
              APOIO
            </h2>
            <ul class="sponsors__list">
              <li class="sponsor">
                <a href="https://www.softplan.com.br/" target="_blank">
                  <img class="img-fluid" src="${ require('img/logo_softplan.png') }" alt="SOFTPLAN">
                </a>
              </li>

              <li class="sponsor">
                <a href="http://www.cesusc.edu.br/" target="_blank">
                  <img class="img-fluid" src="${ require('img/logo_cesusc.png') }" alt="Faculdade CESUSC">
                </a>
              </li>
              <li class="sponsor">
                <a href="http://associacao.python.org.br/" target="_blank">
                  <img class="img-fluid" src="${ require('img/logo_apyb.png') }" alt="APYB - Associação Python Brasil">
                </a>
              </li>
            </ul>
          </div>
          <div class="sponsors__call-to-action">
            <h2>QUERO PATROCINAR</h2>
            <p><a class="sponsors__call-to-action__links" href="https://docs.google.com/presentation/d/1HBfvW7qiGIAub9-v9DlkVnE-QRXXS5Zesi85hg77JMs/htmlpresent" target="_blank">Proposta de Patrocínio</a></p>
            <p><a class="sponsors__call-to-action__links" href="https://docs.google.com/presentation/d/1Nc_03WJsKGLUpcB5J4-2dqSFMNw43Scy4CMVJjTFcM8/htmlpresent" target="_blank">Sponsorship Proposal</a></p>
            <p>Ou mande um email para <a href="mailto:pythonsul@gmail.com">pythonsul@gmail.com</a></p>
            <!-- a href="/quero-patrocinar" id="beASponsor" class="call-to-sponsor pybr-button-large--light">
              QUERO PATROCINAR
            </a -->
          </div>
        </div>
      </div>
    </section>
  </section>
${ require('templates/partials/footer.html') }
