${require('templates/partials/header.html') }
<div id="content" class="intern-page-content sponsor-container">
  <header class="intern-page__header">
    <h1 class="header__title">
      Nossos patrocinadores
    </h1>
  </header>
  <div class="container sponsors-page">
    <div class="midiakit-container">
      <a href="${require('misc/PythonBR14-MidiaKit.zip')}" class="pybr-button--dark midiakit-button">Baixe o <br> mídia kit do evento</a>
    </div>
    <section class="sponsor">
      <div class="sponsor__header">
        <h2>Patrocinadores Platina</h2>
      </div>
      <article class="sponsor__body--wrapper sponsor-platina">
        <div class="sponsor__logo--wrapper">
          <a class="sponsor-logo" target="_blank" href="https://www.facebook.com/careers">
            <img src="${require('img/logo-facebook.svg') }" width="100%" alt="Facebook Logo">
          </a>
        </div>
        <div class="sponsor__content--wrapper">
          <div class="sponsor__content">
            <h3>Facebook</h3>
            <p>Fundado em 2004, a missão do Facebook é dar às pessoas o poder de construir comunidades e de aproximar o mundo. As pessoas usam o facebook para se conectar com amigos e família, para descobrir o que está acontecendo no mundo e para compartilhar e expressar o que importa para eles.</p>
            <a href="https://www.facebook.com/careers" target="_blank">www.facebook.com/careers</a>
          </div>
        </div>
      </article>
      <article class="sponsor__body--wrapper sponsor-platina">
        <div class="sponsor__logo--wrapper">
          <a class="sponsor-logo" target="_blank" href="https://talentos.globo.com">
            <img src="${require('img/logo-globo.svg') }" width="100%" alt="Globo.com Logo">
          </a>
        </div>
        <div class="sponsor__content--wrapper">
          <div class="sponsor__content">
            <h3>Globo.com</h3>
            <p>Somos a empresa de Internet do Grupo Globo com escritórios no Rio e Porto Alegre. Reunimos os maiores portais do país nas verticais de Notícias, Esportes,Vídeos e Entretenimento, temos excelência na distribuição de conteúdo web e vídeo em grande escala e detemos a maior audiência de video streaming simultânea do país.</p>
            <a href="https://talentos.globo.com" target="_blank">www.talentos.globo.com</a>
          </div>
        </div>
      </article>
    </section>
    <section class="sponsor">
      <div class="sponsor__header">
        <h2>Patrocinadores Ouro</h2>
      </div>
      <article class="sponsor__body--wrapper sponsor-gold">
        <div class="sponsor__logo--wrapper">
          <a class="sponsor-logo" target="_blank" href="http://www.sebrae.com.br/sites/PortalSebrae">
            <img src="${require('img/logo-sebrae.svg') }" width="100%" alt="Sebrae Logo">
          </a>
        </div>
        <div class="sponsor__content--wrapper">
          <div class="sponsor__content">
            <h3>SEBRAE</h3>
            <p>A Missão do SEBRAE é promover a competitividade e o desenvolvimento sustentável das micro e pequenas empresas e fomentar o empreendedorismo.</p>
            <a href="http://www.sebrae.com.br/sites/PortalSebrae" target="_blank">www.sebrae.com.br</a>
          </div>
        </div>
      </article>
    </section>
    <section class="sponsor">
      <div class="sponsor__header">
        <h2>Patrocinadores Prata</h2>
      </div>
      <article class="sponsor__body--wrapper sponsor-silver">
        <div class="sponsor__logo--wrapper">
          <a class="sponsor-logo" target="_blank" href="https://www.labcodes.com.br/">
            <img src="${require('img/logo-labcodes.svg') }" width="100%" alt="Labcodes Logo">
          </a>
        </div>
        <div class="sponsor__content--wrapper">
          <div class="sponsor__content">
            <h3>Labcodes</h3>
            <p>Software Studio Recifense que projeta, implementa, mantém e escala produtos digitais. Somos especializados em criar aplicações web que se adequem às suas necessidades e otimizar processos. Acreditamos que software deve ser customizado para alinhar as expectativas de clientes e usuários. Nosso time consiste em profissionais muito bem qualificados em todos os aspectos de desenvolvimento de software, desde Product Design, incluindo User Experience, programação, até Administração de Servidores.</p>
            <a href="https://www.labcodes.com.br/" target="_blank">www.labcodes.com.br</a>
          </div>
        </div>
      </article>
      <article class="sponsor__body--wrapper sponsor-silver">
        <div class="sponsor__logo--wrapper">
          <a class="sponsor-logo" target="_blank" href="http://mangai.com.br/">
            <img src="${require('img/logo-mangailabs.svg') }" width="100%" alt="MangaiLabs Logo">
          </a>
        </div>
        <div class="sponsor__content--wrapper">
          <div class="sponsor__content">
            <h3>MaingaiLabs</h3>
            <p>O Grupo Mangai, empresa referência na gastronomia brasileira, possui uma rede de restaurantes distribuída na Paraíba, Rio Grande do Norte e Distrito Federal, com marcas como Mangai, NAU Frutos do Mar e Gelato Mangai. Com o objetivo de criar produtos, serviços e antecipar o amanhã foi criado o MangaiLabs, um centro de pesquisas e desenvolvimento formado por um grupo de engenheiros e desenvolvedores, que buscam incansavelmente inovações para todos os segmentos da empresa. No MangaiLabs, a tecnologia é utilizada para que os nossos clientes tenham uma experiência final diferenciada e para isso, contemplamos desde a escolha das matérias-primas até a saída do cliente dos nossos restaurantes. </p>
            <a href="http://mangai.com.br/" target="_blank">www.mangai.com.br</a>
          </div>
        </div>
      </article>
    </section>
    <section class="sponsor">
      <div class="sponsor__header">
        <h2>Parceiros</h2>
      </div>
      <article class="partner__body--wrapper">
        <a class="partner-logo" target="_blank" href="https://cabotelecom.com.br/">
          <img src="${require('img/logo-cabotelecom.svg') }"  alt="Cabo Logo">
        </a>
        <a class="partner-logo" target="_blank" href="https://www.python.org/psf/">
          <img src="${require('img/logo-psf.svg') }"  alt="PSF Logo">
        </a>
      </article>
    </section>
    <a href="/quero-patrocinar" class="pybr-button--light-blue call-to-sponsor">
      Quero Patrocinar
    </a>
  </div>
</div>
${require('templates/partials/footer.html') }
