${require('templates/partials/header.html') }
<div id="content" class="container-fluid p-0">
  <header class="intern-page__header container">
    <h1 class="header__title">
      Programação
    </h1>
  </header>
  <section class="schedule-page">
    <div class="schedule-page__content">
      <div id="schedule">
        <p class="loading">Carregando...</p>
      </div>
    </div>
    <p class="schedule_subtitle">*Programação sujeita a alteração sem aviso prévio*</p>
  </section>
</div>
${require('templates/partials/footer.html') }
