${require('templates/partials/header.html') }
<div id="content" class="intern-page-content">
  <header class="intern-page__header">
    <h1 class="header__title">
      Programação
    </h1>
  </header>
  <section class="schedule-page">
    <div class="schedule-page__content container">
      <ul class="accordion-tabs schedule_category_type">
        <li class="tab-header-and-content">
          <a href="#" class="tab-link active">Palestras</a>
        </li>
        <li class="tab-header-and-content">
          <a href="#" class="tab-link">Tutoriais</a>
        </li>
        <li class="tab-header-and-content">
          <a href="#" class="tab-link">Sprints</a>
        </li>
      </ul>
      <ul class="accordion-tabs schedule_category_days">
        <li class="tab-header-and-content">
          <a href="#" class="tab-link active">Dia 17</a>
        </li>
        <li class="tab-header-and-content">
          <a href="#" class="tab-link">Dia 18</a>
        </li>
        <li class="tab-header-and-content">
          <a href="#" class="tab-link">Dia 19</a>
        </li>
        <li class="tab-header-and-content">
          <a href="#" class="tab-link">Dia 20</a>
        </li>
        <li class="tab-header-and-content">
          <a href="#" class="tab-link">Dia 21</a>
        </li>
        <li class="tab-header-and-content">
          <a href="#" class="tab-link">Dia 22</a>
        </li>
      </ul>
      <article class="schedule_article">
        <h5 class="schedule_time">7h</h5>
        <div class="picture-container" area-hidden="true">
        </div>
        <div class="schedule_info">
          <h2 class="schedule_name">Credenciamento</h2>
        </div>
      </article>
      <article class="schedule_article">
        <h5 class="schedule_time">7h</h5>
        <div class="picture-container">
          <div class="schedule_picture">
            <img  src="${require('img/schedule_picture-1.jpg') }" width="100%" alt="Nome da foto">
          </div>
        </div>
        <div class="schedule_info">
          <h2 class="schedule_name">Renato Camargo <span class="keynote_star">Keynote <i></i></span></h2>
          <h4 class="schedule_office">Head de Marketing/Loyalty at Grupo Pão de Açúcar</h4>
          <h3 class="schedule_speak">Usando Python para lorem ipsum dolor sit amet</h3>
        </div>
      </article>
      <article class="schedule_article">
        <h5 class="schedule_time">7h</h5>
        <div class="picture-container" area-hidden="true">
        </div>
        <div class="schedule_info">
          <h2 class="schedule_name">Almoço</h2>
        </div>
      </article>
      <article class="schedule_article">
        <h5 class="schedule_time">7h</h5>
        <div class="picture-container">
          <div class="schedule_picture">
            <img  src="${require('img/schedule_picture-1.jpg') }" width="100%" alt="Nome da foto">
          </div>
        </div>
        <div class="schedule_info">
          <h2 class="schedule_name">Renato Camargo</h2>
          <h4 class="schedule_office">Head de Marketing/Loyalty at Grupo Pão de Açúcar</h4>
          <h3 class="schedule_speak">Usando Python para lorem ipsum dolor sit amet</h3>
        </div>
      </article>
    </div>
  </section>
</div>
${require('templates/partials/footer.html') }
