${require('templates/partials/header.html') }
<div id="content" class="intern-page-content">
  <header class="intern-page__header">
    <h1 class="header__title">
      Seja um patrocinador!
    </h1>
  </header>
  <article class="article">
    <header class="article__header">
      <h1 class="header__title">Plano de patrocínio</h1>
    </header>
    <div class="article__body--wrapper">
      <div class="article__body">
        <div class="article__content">
          <p>
            Acesse o plano de patrocínio detalhado <a target="_blank" href="${require('misc/Plano_patrocinio_PythonBR_2018_V5.pdf')}">clicando aqui</a>.
          </p>
        </div>
      </div>
    </div>
  </article>
  <article class="article">
    <header class="article__header">
      <h1 class="header__title">Porque patrocinar?</h1>
    </header>
    <div class="article__body--wrapper">
      <div class="article__body">
        <div class="article__content">
          <p>
            A PythonBrasil reúne um público composto por desenvolvedores, engenheiros de software, empresários, gerentes de TI, estudantes e entusiastas de todo o Brasil e do mundo.
          </p>
          <p>
            É uma oportunidade de associar a sua marca a iniciativas abertas e colaborativas de software livre, conhecer a comunidade e os projetos que estão em andamento, difundir a linguagem e estimular o desenvolvimento tecnológico no país.
          </p>
          <p>
            Como retorno, além de alcançar visibilidade nacional, você poderá capacitar a sua equipe, oferecer propostas, recrutar profissionais dedicados ou criar parcerias de negócios.
          </p>
        </div>
      </div>
    </div>
  </article>
  <article class="article">
    <header class="article__header">
      <h1 class="header__title">Vantagens da PythonBrasil[14]</h1>
    </header>
    <div class="article__body--wrapper">
      <div class="article__body">
        <div class="article__content">
          <ul>
            <li>
              Ganhe visibilidade da sua marca por meio de materiais impressos e digitais produzidos para a Python Brasil [14];
            </li>
            <li>
              Participe de um evento altamente tecnológico realizado em mais de 30 países do mundo;
            </li>
            <li>
              Capacite sua equipe;
            </li>
            <li>
              Contribua para o desenvolvimento tecnológico do país;
            </li>
            <li>
              Associe sua marca à iniciativas abertas e colaborativas de Software Livre;
            </li>
            <li>
              Recrute profissionais engajados com tecnologia e programação;
            </li>
            <li>
              Obtenha reconhecimento de sua marca no Brasil e exterior.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </article>
  <article class="article">
    <header class="article__header">
      <h1 class="header__title">Tipos de patrocínio</h1>
    </header>
    <div class="article__body--wrapper">
      <div class="article__body">
        <div class="article__content">
          <p>
            Os patrocínios foram categorizados nas opções de Diamante, Platina, Ouro e Prata, sendo descritos abaixo os benefícios que os patrocinadores terão acesso.
          </p>
        </div>
      </div>
    </div>
  </article>
  <article>
      <table class="table sponsors-table">
          <thead>
            <tr>
              <th></th>
              <th>Diamante</th>
              <th>Platina</th>
              <th>Ouro</th>
              <th>Prata</th>
            </tr>
          </thead>
          <tbody>
            <tr class="text-small">
              <th scope="row">
                Benefícios de logomarca impressa e digital
              </th>
              <td>25% maior que a cota anterior</td>
              <td>25% maior que a cota anterior</td>
              <td>25% maior que a cota anterior</td>
              <td><img src="${require('img/icon-right.svg')}" width="24px" alt="yes" class="icon-right"></td>
            </tr>
            <tr>
              <th scope="row">
                 Logo no banner de entrada do evento
              </th>
              <td><img src="${require('img/icon-right.svg')}" width="24px" alt="yes" class="icon-right"></td>
              <td><img src="${require('img/icon-right.svg')}" width="24px" alt="yes" class="icon-right"></td>
              <td><img src="${require('img/icon-right.svg')}" width="24px" alt="yes" class="icon-right"></td>
              <td><img src="${require('img/icon-right.svg')}" width="24px" alt="yes" class="icon-right"></td>
            </tr>
            <tr>
              <th scope="row">
                Logo no site da Python BR 2018
              </th>
              <td><img src="${require('img/icon-right.svg')}" width="24px" alt="yes" class="icon-right"></td>
              <td><img src="${require('img/icon-right.svg')}" width="24px" alt="yes" class="icon-right"></td>
              <td><img src="${require('img/icon-right.svg')}" width="24px" alt="yes" class="icon-right"></td>
              <td><img src="${require('img/icon-right.svg')}" width="24px" alt="yes" class="icon-right"></td>
            </tr>
            <tr>
              <th scope="row">
                Possibilidade de ofertar brindes no evento
              </th>
              <td><img src="${require('img/icon-right.svg')}" width="24px" alt="yes" class="icon-right"></td>
              <td><img src="${require('img/icon-right.svg')}" width="24px" alt="yes" class="icon-right"></td>
              <td><img src="${require('img/icon-right.svg')}" width="24px" alt="yes" class="icon-right"></td>
              <td><img src="${require('img/icon-right.svg')}" width="24px" alt="yes" class="icon-right"></td>
            </tr>
            <tr>
              <th scope="row">
                Possibilidade de colher o seu próprio mailing
              </th>
              <td><img src="${require('img/icon-right.svg')}" width="24px" alt="yes" class="icon-right"></td>
              <td><img src="${require('img/icon-right.svg')}" width="24px" alt="yes" class="icon-right"></td>
              <td><img src="${require('img/icon-right.svg')}" width="24px" alt="yes" class="icon-right"></td>
              <td><img src="${require('img/icon-right.svg')}" width="24px" alt="yes" class="icon-right"></td>
            </tr>
            <tr>
              <th scope="row">
                Logo nas salas
              </th>
              <td><img src="${require('img/icon-right.svg')}" width="24px" alt="yes" class="icon-right"></td>
              <td><img src="${require('img/icon-right.svg')}" width="24px" alt="yes" class="icon-right"></td>
              <td><img src="${require('img/icon-right.svg')}" width="24px" alt="yes" class="icon-right"></td>
              <td><img src="${require('img/icon-cross.svg')}" width="24px" alt="no" class="icon-cross"></td>
            </tr>
            <tr>
              <th scope="row">
                  Logo nos vídeos
              </th>
              <td><img src="${require('img/icon-right.svg')}" width="24px" alt="yes" class="icon-right"></td>
              <td><img src="${require('img/icon-right.svg')}" width="24px" alt="yes" class="icon-right"></td>
              <td><img src="${require('img/icon-right.svg')}" width="24px" alt="yes" class="icon-right"></td>
              <td><img src="${require('img/icon-cross.svg')}" width="24px" alt="no" class="icon-cross"></td>
            </tr>
            <tr>
              <th scope="row">
                Anúncio no Twitter e Facebook
              </th>
              <td><img src="${require('img/icon-right.svg')}" width="24px" alt="yes" class="icon-right"></td>
              <td><img src="${require('img/icon-right.svg')}" width="24px" alt="yes" class="icon-right"></td>
              <td><img src="${require('img/icon-right.svg')}" width="24px" alt="yes" class="icon-right"></td>
              <td><img src="${require('img/icon-cross.svg')}" width="24px" alt="no" class="icon-cross"></td>
            </tr>
            <tr>
              <th scope="row">
                Colocar brindes/folders na sacola
              </th>
              <td><img src="${require('img/icon-right.svg')}" width="24px" alt="yes" class="icon-right"></td>
              <td><img src="${require('img/icon-right.svg')}" width="24px" alt="yes" class="icon-right"></td>
              <td><img src="${require('img/icon-right.svg')}" width="24px" alt="yes" class="icon-right"></td>
              <td><img src="${require('img/icon-cross.svg')}" width="24px" alt="no" class="icon-cross"></td>
            </tr>
              <th scope="row">
                Divulgação de vídeo institucional (30s)
              </th>
              <td><img src="${require('img/icon-right.svg')}" width="24px" alt="yes" class="icon-right"></td>
              <td><img src="${require('img/icon-right.svg')}" width="24px" alt="yes" class="icon-right"></td>
              <td><img src="${require('img/icon-cross.svg')}" width="24px" alt="no" class="icon-cross"></td>
              <td><img src="${require('img/icon-cross.svg')}" width="24px" alt="no" class="icon-cross"></td>
            </tr>
            <tr>
              <th scope="row">
                Logo na credencial
              </th>
              <td><img src="${require('img/icon-right.svg')}" width="24px" alt="yes" class="icon-right"></td>
              <td><img src="${require('img/icon-right.svg')}" width="24px" alt="yes" class="icon-right"></td>
              <td><img src="${require('img/icon-cross.svg')}" width="24px" alt="no" class="icon-cross"></td>
              <td><img src="${require('img/icon-cross.svg')}" width="24px" alt="no" class="icon-cross"></td>
            </tr>
            <tr>
              <th scope="row">
                Logo na sacola
              </th>
              <td><img src="${require('img/icon-right.svg')}" width="24px" alt="yes" class="icon-right"></td>
              <td><img src="${require('img/icon-cross.svg')}" width="24px" alt="no" class="icon-cross"></td>
              <td><img src="${require('img/icon-cross.svg')}" width="24px" alt="no" class="icon-cross"></td>
              <td><img src="${require('img/icon-cross.svg')}" width="24px" alt="no" class="icon-cross"></td>
            </tr>
            <tr>
              <th scope="row">
                Estande (Job Fair)
              </th>
              <td>3m²</td>
              <td>3m²</td>
              <td>3m²</td>
              <td><img src="${require('img/icon-cross.svg')}" width="24px" alt="no" class="icon-cross"></td>
            </tr>
            <tr>
              <th scope="row">
                Ingressos e Convites
              </th>
              <td>30</td>
              <td>15</td>
              <td>5</td>
              <td>2</td>
            </tr>
            <tr>
              <th scope="row">
                Cotas disponíveis
              </th>
              <td>1</td>
              <td>3</td>
              <td>5</td>
              <td>7</td>
            </tr>
          </tbody>
        </table>
  </article>

<div class="sponsors__call-to-action">
  <h2>QUERO PATROCINAR</h2>
  <p>Envie e-mail para <a href="mailto:eventos@python.org.br">eventos@python.org.br</a></p>
</div>
</div>
${require('templates/partials/footer.html') }
