<div class="track tabcontent" id="day02">
  <div class="track-leisure">
    <p class="hour"><time>09:30</time></p>
    <p class="talk">Café da manhã</p>
  </div>

  <div class="track-talk">
    <p class="hour"><time>10:20</time></p>
    <p class="talk">Palestra</p>
    <p class="speaker">À definir</p>
  </div>

  <div class="track-keynote">
    <p class="hour"><time>11:00</time></p>
    <p class="talk">Keynote</p>
    <p class="speaker">Renzo Nuccitelli</p>
  </div>

  <div class="track-leisure">
    <p class="hour"><time>12:00</time></p>
    <p class="talk">Almoço</p>
  </div>

  <div class="track-talk">
    <p class="hour"><time>14:00</time></p>
    <p class="talk">Palestra</p>
    <p class="speaker">À definir</p>
  </div>

  <div class="track-talk">
    <p class="hour"><time>14:40</time></p>
    <p class="talk">Palestra</p>
    <p class="speaker">À definir</p>
  </div>

  <div class="track-leisure">
    <p class="hour"><time>15:20</time></p>
    <p class="talk">Coffee break</p>
  </div>

  <div class="track-talk">
    <p class="hour"><time>15:50</time></p>
    <p class="talk">Palestra</p>
    <p class="speaker">À definir</p>
  </div>

  <div class="track-talk">
    <p class="hour"><time>16:30</time></p>
    <p class="talk">Palestra relâmpago</p>
    <p class="speaker">À definir</p>
  </div>

  <div class="track-keynote">
    <p class="hour"><time>17:10</time></p>
    <p class="talk">Keynote</p>
    <p class="speaker">Laís Varejão</p>
  </div>

  <div class="track-leisure">
    <p class="hour"><time>18:00</time></p>
    <p class="talk">Fechamento do dia</p>
  </div>
</div>
