<div class="track tabcontent" id="day03">
  <div class="tutorials-banner">
    <span>
      <strong>&#9888</strong>
    </span>
    <span>
      Os tutoriais são gratuitos mas a organização pede que você contribua
      doando 1Kg de alimento não perecível que será doado para uma instituição
      a ser definida.
    </span>
  </div>

  <div class="track-tutorial">
    <p class="hour"><time>08:00</time></p>
    <p class="talk">Django Girls - Sala 1</p>
  </div>

  <div class="track-tutorial">
    <p class="hour"><time>08:00</time></p>
    <p class="talk">Scrapy para Iniciantes - Sala 2</p>
    <p class="speaker">Rafael Calixto</p>
  </div>

  <div class="track-tutorial">
    <p class="hour"><time>08:00</time></p>
    <p class="talk">Automação de Testes com Robot Framework - Sala 3</p>
    <p class="speaker">Mayara Fernandes e Johnatha Felix</p>
  </div>

  <div class="track-tutorial">
    <p class="hour"><time>08:00</time></p>
    <p class="talk">Open Spaces - Sala 4</p>
  </div>

  <div class="track-leisure">
    <p class="hour"><time>09:30</time></p>
    <p class="talk">Coffe-Break</p>
  </div>

  <div class="track-tutorial">
    <p class="hour"><time>10:00</time></p>
    <p class="talk">Django Girls - Sala 1</p>
  </div>

  <div class="track-tutorial">
    <p class="hour"><time>10:00</time></p>
    <p class="talk">A definir - Sala 2</p>
  </div>

  <div class="track-tutorial">
    <p class="hour"><time>10:00</time></p>
    <p class="talk">Automação de Testes com Robot Framework (continuação) - Sala 3</p>
    <p class="speaker">Mayara Fernandes e Johnatha Felix</p>
  </div>

  <div class="track-tutorial">
    <p class="hour"><time>10:00</time></p>
    <p class="talk">Open Spaces - Sala 4</p>
  </div>

  <div class="track-leisure">
    <p class="hour"><time>12:00</time></p>
    <p class="talk">Almoço</p>
  </div>

  <div class="track-tutorial">
    <p class="hour"><time>13:30</time></p>
    <p class="talk">Django Girls - Sala 1</p>
  </div>

  <div class="track-tutorial">
    <p class="hour"><time>13:30</time></p>
    <p class="talk">Do nada, tudo se constrói. Testes & Web - Sala 2</p>
    <p class="speaker">André Pastore</p>
  </div>

  <div class="track-tutorial">
    <p class="hour"><time>13:30</time></p>
    <p class="talk">Algo sobre chatbots, música e machine learning - Sala 3</p>
    <p class="speaker">Maicon Domingues</p>
  </div>

  <div class="track-tutorial">
    <p class="hour"><time>13:30</time></p>
    <p class="talk">Open Spaces - Sala 4</p>
  </div>

  <div class="track-leisure">
    <p class="hour"><time>15:30</time></p>
    <p class="talk">Coffe-Break</p>
  </div>

  <div class="track-tutorial">
    <p class="hour"><time>16:00</time></p>
    <p class="talk">Django Girls - Sala 1</p>
  </div>

  <div class="track-tutorial">
    <p class="hour"><time>16:00</time></p>
        <p class="talk">Do nada, tudo se constrói. Testes & Web (continuação) - Sala 2</p>
    <p class="speaker">André Pastore</p>
  </div>

  <div class="track-tutorial">
    <p class="hour"><time>16:00</time></p>
    <p class="talk">Tutorial da cultura e diversidade surdas e LIBRAS- Sala 3</p>
    <p class="speaker">Amanda Groth</p>
  </div>

  <div class="track-tutorial">
    <p class="hour"><time>16:00</time></p>
    <p class="talk">Open Spaces - Sala 4</p>
  </div>

  <div class="track-leisure">
    <p class="hour"><time>18:00</time></p>
    <p class="talk">Encerramento</p>
  </div>
</div>
