<div class="track tabcontent active" id="day01">
  <div class="track-leisure">
    <p class="hour"><time>08:30</time></p>
    <p class="talk">Café da manhã</p>
  </div>

  <div class="track-keynote">
    <p class="hour"><time>09:00</time></p>
    <p class="talk">Keynote</p>
    <p class="speaker">Filipe Fernandes</p>
  </div>

  <div class="track-talk">
    <p class="hour"><time>10:00</time></p>
    <p class="talk">Palestra - Loadsmart</p>
  </div>

  <div class="track-talk">
    <p class="hour"><time>10:10</time></p>
    <p class="talk">
      Achou que ia ter um nome de palestra legal aqui? Achou errado, otário!
    </p>
    <p class="speaker">Rogerinho do Ingá</p>
    <p class="description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
      non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
    </p>
  </div>

  <div class="track-leisure">
    <p class="hour"><time>10:50</time></p>
    <p class="talk">Coffee break</p>
  </div>

  <div class="track-talk">
    <p class="hour"><time>11:20</time></p>
    <p class="talk">As embromelhas são flores enroladas</p>
    <p class="speaker">Aristóteles da Silva</p>
    <p class="description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    </p>
  </div>

  <div class="track-leisure">
    <p class="hour"><time>12:00</time></p>
    <p class="talk">Almoço</p>
  </div>

  <div class="track-keynote">
    <p class="hour"><time>13:30</time></p>
    <p class="talk">Keynote</p>
    <p class="speaker">Danilo “Mawkee” Martins</p>
  </div>

  <div class="track-talk">
    <p class="hour"><time>14:30</time></p>
    <p class="talk">
      Achou que ia ter um nome de palestra legal aqui? Achou errado, otário!
    </p>
    <p class="speaker">Rogerinho do Ingá</p>
  </div>

  <div class="track-leisure">
    <p class="hour"><time>15:10</time></p>
    <p class="talk">Coffee break</p>
  </div>

  <div class="track-talk">
    <p class="hour"><time>15:50</time></p>
    <p class="talk">Palestra relâmpago</p>
  </div>

  <div class="track-talk">
    <p class="hour"><time>16:20</time></p>
    <p class="talk">Palestra</p>
    <p class="speaker">À definir</p>
  </div>

  <div class="track-keynote">
    <p class="hour"><time>17:00</time></p>
    <p class="talk">Keynote</p>
    <p class="speaker">Nicole Cysneiros</p>
  </div>

  <div class="track-leisure">
    <p class="hour"><time>18:00</time></p>
    <p class="talk">Fechamento do dia</p>
  </div>
</div>
