
    </section>
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12">
            <nav class="footer__nav">
              <ul class="footer__nav__menu">
                <h4 class="footer__nav__menu__title">
                  Sobre
                </h4>
                <li class="footer__nav__menu__item">
                  <a class="scroll" href="/evento#location">Local</a>
                </li>
                <li class="footer__nav__menu__item">
                  <a class="scroll" href="/#keynotes">Keynotes</a>
                </li>
                <li class="footer__nav__menu__item">
                  <a href="/evento">O Evento</a>
                </li>
                <li class="footer__nav__menu__item">
                  <a href="/programacao">Programação</a>
                </li>
                <li class="footer__nav__menu__item">
                  <a href="/codigo-de-conduta">Código de conduta</a>
                </li>
              </ul>
              <ul class="footer__nav__menu">
                <h4 class="footer__nav__menu__title  soon">
                  Blog
                </h4>
                <li class="footer__nav__menu__item">
                  <a disabled href="#">A Cidade</a>
                </li>
                <li class="footer__nav__menu__item">
                  <a disabled href="#">O que fazer</a>
                </li>
                <li class="footer__nav__menu__item">
                  <a disabled href="#">Onde comer</a>
                </li>
                <li class="footer__nav__menu__item">
                  <a disabled href="#">Transporte</a>
                </li>
              </ul>
              <ul class="footer__nav__menu">
                <h4 class="footer__nav__menu__title">
                  Patrocínio
                </h4>
                <!-- <li class="footer__nav__menu__item">
                  <a href="/#diamond">Diamante</a>
                </li>
                <li class="footer__nav__menu__item">
                  <a href="/#platinum">Platina</a>
                </li>
                <li class="footer__nav__menu__item">
                  <a href="/#gold">Ouro</a>
                </li>
                <li class="footer__nav__menu__item">
                  <a href="/#silver">Prata</a>
                </li> -->
                <li class="footer__nav__menu__item">
                  <a href="/quero-patrocinar">Quero patrocinar</a>
                </li>
                <li class="footer__nav__menu__item">
                  <a href="${require('misc/PythonBR14-MidiaKit.zip')}">Mídia Kit do evento</a>
                </li>
                <li class="footer__nav__menu__item">
                  <a href="/patrocinadores">Patrocinadores</a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="col-xl-4 col-lg-12 col-md-12 offset-lg-1">
            <div class="footer__actions">
              <a href="https://www.sympla.com.br/python-brasil-14__260986" target="_blank" class="pybr-button--light button-bg--dark">
                Compre o seu ingresso
              </a>
              <nav class="social__nav">
                <ul class="social__nav__menu">
                  <li class="social__nav__menu__item">
                    <a target="_blank" href="https://www.facebook.com/pythonbrasil/">
                      <img height="100%" src="${require('img/Python14-Icon Facebook.svg')}" />
                    </a>
                  </li>
                  <li class="social__nav__menu__item">
                    <a target="_blank" href="https://twitter.com/pythonbrasil">
                      <img height="100%" src="${require('img/Python14-Icon Twitter.svg')}" />
                    </a>
                  </li>
                  <li class="social__nav__menu__item">
                    <a target="_blank" href="http://blog.pythonbrasil.org.br/">
                      <img height="100%" src="${require('img/Python14-Icon Blog.svg')}" />
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="python-logo col-lg-1 d-none d-xl-block">
            <img src="${require('img/Python14-Cobras-MenuHeader.svg')}" width="100%" alt="Python Logo">
          </div>
          <div class="footer-note col-12">
            <p>
              PythonBrasil is a non-profit volunteer-driven conference for promoting the open-source Python programming language. It is supported by the Brazilian Python Association (APyB) and by the Python Software Foundation (PSF).
            </p>
            <p>
              Google Play e o logotipo do Google Play são marcas registradas da Google LLC.
            </p>
          </div>
        </div>
      </div>
    </footer>
  </div>
</body>
</html>
