<html>
<head>
  <link target="_blank" href="https://fonts.googleapis.com/css?family=Advent+Pro:500,600,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
  <meta charset="UTF-8">
  <title>Python Brasil 2018</title>
  <meta name="viewport" content="width=device-width">
</head>
<body>
  ${require('templates/partials/loading-animation.html')}
  <nav id="mobile-nav" class="header__nav-mobile">
    <header class="header__nav-mobile__header">
      <h1>Menu</h1>
      <button class="mobile-nav-trigger--close" id="mobile-nav-close-trigger"></button>
    </header>
    <ul class="nav__items">
      <a class="nav__anchor scroll" href="/#about"><li class="nav__item">Evento</li></a>
      <a class="nav__anchor scroll" href="/#keynotes"><li class="nav__item">Keynotes</li></a>
      <a class="nav__anchor" disabled href="#top"><li class="nav__item  soon no-offset">Programação</li></a>
      <a class="nav__anchor scroll" href="/#location"><li class="nav__item">Local</li></a>
      <a class="nav__anchor scroll" href="/#sponsors"><li class="nav__item">Patrocinadores</li></a>
      <a class="nav__anchor" href="http://blog.pythonbrasil.org.br" target="_blank" ><li class="nav__item">Blog</li></a>
      <li class="nav__item subscribe-button">
        <a href="#" disabled class="pybr-button--light">
          Ingressos em breve
        </a>
      </li>
    </ul>
  </nav>
  <div id="top" class="content-body">
    <header class="header">
      <nav class="header__nav">
        <div class="header__mobile">
          <a href="/">
            <img width="40px" height="40px" src="${require('img/Python14-Cobras-MenuHeader.svg')}" alt="Logo Python">
          </a>
          <button class="mobile-nav-trigger" id="mobile-nav-trigger"></button>
        </div>
        <ul class="nav__items">
          <li class="nav__item"><a class="nav__anchor scroll" href="/#about">Evento</a></li>
          <li class="nav__item"><a class="nav__anchor scroll" href="/#keynotes">Keynotes</a></li>
          <li class="nav__item d-none d-lg-flex"><a disabled class="nav__anchor soon" href="#">Programação</a></li>
          <li class="nav__item d-lg-none"><a disabled class="nav__anchor" href="#">Programação</a></li>
          <li class="nav__item">
            <a class="nav__anchor" href="/">
              <img width="40px" height="40px" src="${require('img/Python14-Cobras-MenuHeader.svg')}" alt="Logo Python">
            </a>
          </li>
          <li class="nav__item"><a class="nav__anchor scroll" href="/#location">Local</a></li>
          <li class="nav__item"><a class="nav__anchor scroll" href="/#sponsors">Patrocinadores</a></li>
          <li class="nav__item"><a class="nav__anchor" href="http://blog.pythonbrasil.org.br" target="_blank" >Blog</a></li>
        </ul>
      </nav>
    </header>
    <section id="page-content" class="page-content">