<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
<head>
  <link target="_blank" href="https://fonts.googleapis.com/css?family=Advent+Pro:500,600,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@pythonbrasil">
  <meta name="twitter:image" content="https://2018.pythonbrasil.org.br${require('img/pybr_twitter.png')}">
  <meta name="twitter:description" content="A PythonBrasil é o maior evento sobre linguagem de programação Python do Brasil. Este ano organizada pela comunidade Python de NATAL/RN com o apoio da APyB (Associação Python Brasil).">
  <meta property="og:url" content="https://2018.pythonbrasil.org.br">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Python Brasil 2018">
  <meta property="og:description" content="A PythonBrasil é o maior evento sobre linguagem de programação Python do Brasil. Este ano organizada pela comunidade Python de NATAL/RN com o apoio da APyB (Associação Python Brasil).">
  <meta property="og:image:type" content="image/png">
  <meta property="og:image" content="https://2018.pythonbrasil.org.br${require('img/pybr_facebook.png')}">
  <link rel="manifest" href="/manifest.json">
  <link rel="shortcut icon" type="image/x-icon" href="${require('img/favicon.ico')}"/>
  <meta charset="UTF-8">
  <title>PythonBrasil[14]</title>
  <meta name="viewport" content="width=device-width">
  <meta name="theme-color" content="#102E46"/>
</head>
<body>
  ${require('templates/partials/loading-animation.html')}
  ${require('templates/partials/snackbar.html')}
  <nav id="mobile-nav" class="header__nav-mobile">
    <header class="header__nav-mobile__header">
      <h1>Menu</h1>
      <button class="mobile-nav-trigger--close" id="mobile-nav-close-trigger"></button>
    </header>
    <ul class="nav__items">
      <a class="nav__anchor scroll" href="/#keynotes"><li class="nav__item">Keynotes</li></a>
      <a class="nav__anchor" href="/evento"><li class="nav__item">Evento</li></a>
      <a class="nav__anchor" href="/programacao"><li class="nav__item">Programação</li></a>
      <a class="nav__anchor" href="/quero-patrocinar"><li class="nav__item">Quero Patrocinar</li></a>
      <a class="nav__anchor" href="${require('misc/PythonBR14-MidiaKit.zip')}"><li class="nav__item">Mídia Kit do Evento</li></a>
      <a class="nav__anchor" href="/patrocinadores"><li class="nav__item">Patrocinadores</li></a>
      <a class="nav__anchor" href="http://blog.pythonbrasil.org.br" target="_blank" ><li class="nav__item">Blog</li></a>
      <li class="nav__item subscribe-button">
        <a href="https://www.facebook.com/pg/pythonbrasil/videos/?ref=page_internal" target="_blank" class="pybr-button--light">
          <i class="material-icons live-icon">fiber_manual_record</i>Assista ao vivo
        </a>
      </li>
    </ul>
  </nav>
  <div id="top" class="content-body">
    <header class="header">
      <nav class="header__nav">
        <div class="header__mobile">
          <a href="/">
            <img width="140px" src="${require('img/logo_horizontal.svg')}" alt="Logo Python">
          </a>
          <button class="mobile-nav-trigger" id="mobile-nav-trigger"></button>
        </div>
        <ul class="nav__items">
          <li class="nav__item logo">
            <a class="nav__anchor" href="/">
              <img width="100%" height="41px" src="${require('img/logo_horizontal.svg')}" alt="Logo Python">
            </a>
          </li>
          <li class="nav__item"><a class="nav__anchor scroll" href="/#keynotes">Keynotes</a></li>
          <li class="nav__item"><a class="nav__anchor" href="/evento">Evento</a></li>
          <li class="nav__item"><a class="nav__anchor" href="/programacao">Programação</a></li>
          <li class="nav__item toolbar mdc-menu-anchor">
            <a class="nav__anchor sponsor-dropdown" href="javascript:void(0)">Patrocínio</a>
            <div class="mdc-menu" tabindex="-1">
              <ul class="mdc-menu__items mdc-list" role="menu" aria-hidden="true">
                <a href="/quero-patrocinar" class="nav__item">
                  <li class="mdc-list-item" role="menuitem" tabindex="0">
                    Quero Patrocinar
                  </li>
                </a>

                <a href="${require('misc/PythonBR14-MidiaKit.zip')}" class="nav__item">
                  <li class="mdc-list-item" role="menuitem" tabindex="0">
                    Mídia Kit do Evento
                  </li>
                </a>
                <a href="/patrocinadores" class="nav__item">
                  <li class="mdc-list-item" role="menuitem" tabindex="0">
                    Patrocinadores
                  </li>
                </a>
              </ul>
            </div>
          </li>
          <li class="nav__item"><a class="nav__anchor" href="http://blog.pythonbrasil.org.br" target="_blank" >Blog</a></li>
        </ul>
      </nav>
    </header>
    <div class="app-banners">
        <p>Baixe o app da Python Brasil 2018 para acompanhar a grade do evento em tempo real, escolher suas atividades favoritas e receber notificações. <p>
        <div class="stores-banners">
          <a target="_blank" href="https://play.google.com/store/apps/details?id=org.pythonbrasil.pybr2018">
              <img src="${require('img/google-play-badge.png')}" alt="Baixe no Google Play">
          </a>
          <a target="_blank" href="https://itunes.apple.com/us/app/python-brasil-2018/id1439521365?ls=1&mt=8">
              <img  class="apple" src="${require('img/download-on-appstore.svg')}" alt="Baixe na AppStore">
          </a>
        </div>
    </div>
    <section id="page-content" class="page-content">
