<!DOCTYPE html>
<html>
<head>
  <link target="_blank" href="https://fonts.googleapis.com/css?family=Advent+Pro:500,600,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
  <meta charset="UTF-8">
  <title>Python Brasil 2018</title>
  <meta name="viewport" content="width=device-width">
</head>
<body>
  ${require('templates/partials/loading-animation.html')}
  ${require('templates/partials/snackbar.html')}
  <nav id="mobile-nav" class="header__nav-mobile">
    <header class="header__nav-mobile__header">
      <h1>Menu</h1>
      <button class="mobile-nav-trigger--close" id="mobile-nav-close-trigger"></button>
    </header>
    <ul class="nav__items">
      <a class="nav__anchor scroll" href="/#about"><li class="nav__item">Evento</li></a>
      <a class="nav__anchor scroll" href="/#keynotes"><li class="nav__item">Keynotes</li></a>
      <a class="nav__anchor" target="_blank" href="https://speakerfight.com/events/python-brasil-2018-palestras/"><li class="nav__item">Call4Papers</li></a>
      <a class="nav__anchor scroll" href="/#location"><li class="nav__item">Local</li></a>
      <a class="nav__anchor" href="/programacao"><li class="nav__item">Programação</li></a>
      <a class="nav__anchor" href="/quero-patrocinar"><li class="nav__item">Quero Patrocinar</li></a>
      <a class="nav__anchor" href="${require('misc/PythonBR14-MidiaKit.zip')}"><li class="nav__item">Mídia Kit do Evento</li></a>
      <a class="nav__anchor scroll" href="/#sponsors"><li class="nav__item">Patrocinadores</li></a>
      <a class="nav__anchor" href="http://blog.pythonbrasil.org.br" target="_blank" ><li class="nav__item">Blog</li></a>
      <li class="nav__item subscribe-button">
        <a href="https://www.sympla.com.br/python-brasil-14__260986" target="_blank" class="pybr-button--light">
          Compre o seu ingresso
        </a>
      </li>
    </ul>
  </nav>
  <div id="top" class="content-body">
    <header class="header">
      <nav class="header__nav">
        <div class="header__mobile">
          <a href="/">
            <img width="140px" src="${require('img/logo_horizontal.svg')}" alt="Logo Python">
          </a>
          <button class="mobile-nav-trigger" id="mobile-nav-trigger"></button>
        </div>
        <ul class="nav__items">
          <li class="nav__item logo">
            <a class="nav__anchor" href="/">
              <img width="100%" src="${require('img/logo_horizontal.svg')}" alt="Logo Python">
            </a>
          </li>
          <li class="nav__item"><a class="nav__anchor scroll" href="/#about">Evento</a></li>
          <li class="nav__item toolbar mdc-menu-anchor">
            <a class="nav__anchor scroll" href="/#keynotes">Keynotes</a>
            <div class="mdc-menu" tabindex="-1">
              <ul class="mdc-menu__items mdc-list" role="menu" aria-hidden="true">
                <a href="https://speakerfight.com/events/python-brasil-2018-palestras/" target="_blank" class="nav__item">
                  <li class="mdc-list-item" role="menuitem" tabindex="0">
                    Call4Papers
                  </li>
                </a>
              </ul>
            </div>
          </li>
          <li class="nav__item"><a class="nav__anchor scroll" href="/#location">Local</a></li>
          <li class="nav__item"><a class="nav__anchor" href="/programacao">Programação</a></li>
          <li class="nav__item toolbar mdc-menu-anchor">
            <a class="nav__anchor" href="javascript:void(0)">Patrocinadores</a>
            <div class="mdc-menu" tabindex="-1">
              <ul class="mdc-menu__items mdc-list" role="menu" aria-hidden="true">
                <a href="/quero-patrocinar" class="nav__item">
                  <li class="mdc-list-item" role="menuitem" tabindex="0">
                    Quero Patrocinar
                  </li>
                </a>
                <a href="${require('misc/PythonBR14-MidiaKit.zip')}" class="nav__item">
                  <li class="mdc-list-item" role="menuitem" tabindex="0">
                    Mídia Kit do Evento
                  </li>
                  </a>
                <a href="/#sponsors" class="nav__item scroll">
                  <li class="mdc-list-item" role="menuitem" tabindex="0">
                    Patrocinadores
                  </li>
                </a>
              </ul>
            </div>
          </li>
          <li class="nav__item"><a class="nav__anchor" href="http://blog.pythonbrasil.org.br" target="_blank" >Blog</a></li>
        </ul>
      </nav>
    </header>
    <a href="https://www.sympla.com.br/python-brasil-14__260986" target="_blank" class="tickets-button">
      <img height="130px" src="${require('img/btnticket.svg')}" alt="Tickets">
    </a>
    <section id="page-content" class="page-content">
      
