@mixin sponsor-category($color: $dark-blue) {
  width: 100%;
  @extend .d-flex;
  @extend .justify-content-center;
  flex-wrap: wrap;
  .sponsor-category-title {
    color: $color;
  }
}

.sponsors-wrapper {
  @extend .about-wrapper;
  @include make-angle ($background-dark, -3);
  background-color: $background-dark;
  .sponsors-container {
    @extend .container;
    .sponsors {
      @extend .row;
      .section-header-wrapper {
        margin-bottom: 100px;
        .section-header--right {
          @extend .col-lg-6;
          @extend .col-md-8;
        }
      }
    }
  }
}

.sponsor-category-title {
  @extend .col-lg-4;
  @extend .col-10;
  display: block;
  background-color: white;
  line-height: normal;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}


.sponsors {
  &__diamond {
    @include sponsor-category($python-blue);
  }
  &__platinum {
    @include sponsor-category($python-platinum);
  }
  &__gold {
    @include sponsor-category($python-yellow);

    img {
      height: 85px;
    }
  }
  &__silver {
    @include sponsor-category($dark-blue);
  }

  &__list {
    padding: 100px 0px;
    width: 100%;
    @extend .d-flex;
    @extend .justify-content-center;
    flex-wrap: wrap;
    .sponsor {
      @extend .col-lg-4;
      @extend .col-md-4;
      @extend .col-sm-4;
      @extend .col-12;
      @extend .d-flex;
      @extend .justify-content-center;
      @extend .align-items-center;
      list-style: none;
      font-size: 50px;
      font-family: 'Advent Pro', sans-serif;
      height: 50px;
    }

  }

  &__call-to-action {
    @extend .col-lg-12;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    h2 {
      font-size: 36px;
    }
  }

  .call-to-sponsor {
    @extend .col-lg-4;
    @extend .col-md-6;
    @extend .col-sm-6;
    @extend .col-10;
    display: block;
    margin: 0 auto;
  }
}

@media (min-width: $breakpoint-md) {
  .sponsors {
    &__call-to-action {
       h2 {
        font-size: 50px;
      }
    }
  }
}

// Sponsor page
.sponsors-page {
  .midiakit-container {
    display: block;
    margin-bottom: 60px;
    text-align: right;
  }

  .midiakit-button {
    display: inline-block;
  }

  .sponsor__header {
    margin-bottom: 60px;

    h2 {
      font-size: 46px;
      font-weight: 500;
      color: $dark-blue;
      text-transform: uppercase;
      text-align: center;
    }
  }

  .sponsor__body--wrapper {
    width: 100%;
    @extend .d-flex;
    flex-wrap: wrap;
    margin-bottom: 60px;
    align-items: center;

    h3 {
      font-size: 36px;
      color: $light-blue;
      text-transform: uppercase;
      font-weight: 500;
    }
  }

  .sponsor__logo--wrapper {
    @extend .col-lg-4;
    @extend .col-md-12;
    @extend .col-sm-12;
    @extend .col-12;
  }

  .sponsor__content--wrapper {
    @extend .col-lg-8;
    @extend .col-md-12;
    @extend .col-sm-12;
    @extend .col-12;
  }

  .sponsor-diamond {
    .sponsor__logo--wrapper {
      @extend .col-lg-5;
    }

    .sponsor__content--wrapper {
      @extend .col-lg-7;
    }
    .sponsor-logo, img {
      height: 245px;
    }
  }

  .sponsor-platina {
    .sponsor__logo--wrapper {
      @extend .col-lg-4;
    }

    .sponsor__content--wrapper {
      @extend .col-lg-8;
    }
    .sponsor-logo, img {
      height: 195px;
    }
  }

  .sponsor-gold {
    .sponsor__logo--wrapper {
      @extend .col-lg-4;
    }

    .sponsor__content--wrapper {
      @extend .col-lg-8;
    }
    .sponsor-logo, img {
      height: 155px;
    }
  }

  .sponsor-silver {
    .sponsor__logo--wrapper {
      @extend .col-lg-3;
    }

    .sponsor__content--wrapper {
      @extend .col-lg-9;
    }
    .sponsor-logo, img {
      height: 125px;
    }
  }

  .sponsor__content {
    background: white;
    padding: 20px;

    p {
      font-family: 'Nunito', sans-serif;
    }

    a {
      color: $light-blue;
      font-size: 24px;
      letter-spacing: 1px;
    }
  }

  .partner__body--wrapper {
    width: 100%;
    @extend .d-flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
    justify-content: center;

    img, .partner-logo {
      height: 100px;
    }
  }
}

@media (max-width: $breakpoint-md) {
  .sponsors-page {
    .midiakit-container {
      text-align: center;
      margin-top: 60px;
    }

    .sponsor__logo--wrapper {
      margin-bottom: 40px;
    }
  }
}
