.location-wrapper {
  background-color: $dark-blue;
  @include make-angle($dark-blue, -1);
}

.location-container {
  @extend .container;
  .location {
    @extend .row;
    .section-header {
      .section-title {
        color: white;
      }
    }
  }
}

.location__info {
  width: 100%;
  margin-top: 20px;
  @extend .d-flex;
  flex-wrap: wrap;
  &__article {
    @extend .col-lg-6;
    @extend .col-md-12;
    @extend .col-sm-12;
    @extend .col-12;
    @extend .d-flex;
    @extend .flex-lg-column;
    @extend .justify-content-between;
    @extend .justify-content-lg-between;
    flex-wrap: wrap;
    padding-bottom: 30px;
    color: white;
    text-align: left;
    line-height: normal;
    .article__header {
      width: 100%;
      &__title {
        font-family:  'Advent Pro', sans-serif;
        font-size: 32px;
        font-weight: 600;
        color: $python-yellow;
      }
      &__subtitle {
        font-family: 'Nunito', sans-serif;
        font-size: 16px;
      }
    }
    .article__section {
      padding-right: 10px;
      &:last-child {
        padding-right: 0px;
      }
      @extend .article__body;
      h2 {
        font-family: 'Nunito', sans-serif;
        font-weight: 700;
        font-size: 16px;
      }
      p {
        margin-bottom: 3px;
      }
      margin-bottom: 10px;
    }
  }
}

.holiday-inn-banner {
  @extend .col-lg-6;
  @extend .col-md-12;
  @extend .col-sm-12;
  @extend .col-12;
  .holiday-inn-website {
    text-align: right;
    display: block;
    font-family: 'Advent Pro', sans-serif;
    color: $python-yellow;
    font-weight: 600;
    font-size: 24px;
  }
}

@media (min-width: $breakpoint-md) {
  .location__info {
    margin-top: 50px;
    &__article {
      text-align: right;
      padding-bottom: 60px;
      .article__header {
        &__title {
          font-size: 40px;
        }
        &__subtitle {
          font-size: 20px;
        }
      }
      .article__section {
        padding: 0px;
        margin: 0px 0px;
      }
    }
  }

  .holiday-inn-banner {
    .holiday-inn-website {
      font-size: 34px;
    }
  }
}
