.keynotes-wrapper {
  @include make-angle ($background-light, 5);
}

.keynotes-container {
  @extend .container;
  .keynotes {
    @extend .row;
  }
}

.keynotes__list {
  width: 100%;
}

.keynote__summary {
  width: 100%;
  @extend .d-flex;
  @extend .justify-content-center;

  &__body {
    @extend .col-lg-7;
  }

  &__title {
    font-size: 250%;
  }

  &__text {

  }

  &__photo {
    @extend .col-lg-3;
  }
}

.keynote-img-fluid {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .keynote__summary {
    flex-direction: column;
  }

  .keynote-img-fluid {
    max-width: 80%;
  }
}

@media (min-width: 768px) {
  .keynote__summary {
    &:nth-child(odd) {
      .keynote__summary__body {
        order: 2;
      }
    }
  }
}

.keynote-margin-spacer {
  margin-top: 30px;
}
