.keynotes-wrapper {
  @include make-angle ($background-light, 5);
}

.keynotes-container {
  @extend .container;
  .keynotes {
    @extend .row;
    @extend .d-flex;
    @extend .justify-content-center;
  }
}

.keynote_article {
  @extend .col-11;
  @extend .row;
  margin: 40px 0;

  &:nth-child(odd) {
    flex-direction: row-reverse;

    .keynote_content-wrapper {
      text-align: right;
    }
  }

  .keynote_picture {
    @extend .col-lg-4;
    @extend .col-md-12;
    @extend .col-sm-12;
    @extend .col-12;
  }

  .keynote_content-wrapper {
    @extend .col-lg-8;
    @extend .col-md-12;
    @extend .col-sm-12;
    @extend .col-12;
  }

  .keynote_content-wrapper {
    @extend .d-flex;
    flex-direction: column;
    padding-left: 20px;
    position: relative;
  }

  .keynote-title {
    font-size: 25px;
    line-height: 1.2;
    text-transform: uppercase;
    margin-bottom: 0;
  }

  .keynote-subtitle {
    font-size: 20px;
    font-weight: 400;
  }

  .keynote-link {
    font-size: 16px;
    color: $light-blue;
    padding-left: 10px;
    margin-left: 5px;
    border-left: 1px solid $light-blue;
  }

  .keynote-text p {
    font-weight: 300;
    font-size: 14px;
    line-height: 1.5;
    height: 100%;
  }

  .keynote-button-area {
    display: block;
    align-self: center;
    margin-top: 30px;
  }

  a.keynote-button {
    color: $dark-blue;
  }
}

// Keynote Tab
.accordion-tabs {
  padding: 0;
  @extend .d-flex;


  .tab-header-and-content {
    list-style: none;
    width: 20%;
  }

  .tab-link {
    display: block;
    text-decoration: none;
    position: relative;
    overflow: hidden;

    &:hover {
      border-bottom: $python-yellow;
    }

    &:focus {
      outline: none;
    }

    &.is-active {
      border-bottom: 0;
    }
  }

  .tab-subtitle {
    background: rgba($dark-blue, 0.4);
    color: white;
    padding: 10px 20px 0 20px;
    position: absolute;
    bottom: 0;
    width: 100%;

    h2, h3 {
      line-height: 1;
      text-transform: uppercase;
    }

    h2 {
      font-size: 16px;
    }

    h3 {
      font-family: nunito;
      font-size: 12px;
    }
  }

  .tab-content {
    width: 100%;
  }
}

@media (max-width: $breakpoint-md) {
  .keynote_article {
    margin: 0 auto;
    margin-bottom: 30px;

    &:nth-child(odd) {
      flex-direction: row;

      .keynote_content-wrapper {
        text-align: left;
      }
    }

    .keynote_picture {
      margin-bottom: 30px;
    }
  }

  .accordion-tabs {
    .tab-header-and-content {
      width: 50%;
    }
  }
}

// Keynote List
.keynotes__list {
  width: 100%;
}

.keynote__summary {
  width: 100%;
  @extend .d-flex;
  @extend .justify-content-center;
  &:nth-child(odd) {
    .keynote__summary__body {
      order: 2;
    }
  }

  &__body {
    @extend .col-lg-7;
    background-color: $dark-blue;
  }

  &__title {
    p {
      color: white;
    }
  }

  &__text {

  }

  &__photo {
    @extend .col-lg-3;
  }
}
