.keynotes-wrapper {
  @include make-angle (white, 5);
}

.keynotes-container {
  @extend .container;
  .keynotes {
    @extend .row;
  }
}

.keynotes__list {
  width: 100%;
}

.keynote__summary {
  width: 100%;
  @extend .d-flex;
  @extend .justify-content-center;
  &:nth-child(odd) {
    .keynote__summary__body {
      order: 2;
    }
  }

  &__body {
    @extend .col-lg-7;
    background-color: blue;
  }

  &__title {

  }

  &__text {

  }

  &__photo {
    @extend .col-lg-3;
    background-color: yellow;
  }
}