@import '_schedule.scss';

.intern-page-content {
  @extend .container;
  padding-bottom: 30px;
  .header-call-to-action {
    margin-top: 30px;
    @extend .row;
    @extend .d-flex;
    @extend .justify-content-center;
    @extend .justify-content-sm-end;
    a {
      @extend .col-lg-4;
      @extend .col-md-4;
      @extend .col-sm-6;
      @extend .col-11;
    }
  }
}

@media (min-width: $breakpoint-md) {
  .intern-page-content {
    .header-call-to-action {
      margin-top: 0px;
    }
  }
}

.footer-logo-wrapper {
  padding-top: 30px;
  @extend .d-flex;
  @extend .justify-content-center;
  .footer-logo {
    @extend .col-lg-3;
    @extend .col-md-3;
    @extend .col-sm-4;
    @extend .col-6;
  }
}
