.schedule-page {
  padding: 30px 0;
  background-color: $dark-blue;
  margin-top: 40px;

  &__content {
    padding: 0 70px;
  }

  .keynote_star {
    color: $light-blue;
    font-size: 16px;
    text-transform: uppercase;

    i {
      background: url('../img/keynote_star.svg') no-repeat;
      display: inline-block;
      width: 14px;
      height: 14px;
    }
  }

  .schedule-page__title {
    display: inline-block;
    color: $python-yellow;
    text-transform: uppercase;
    font-size: 22px;
    margin-bottom: 40px;
    padding-bottom: 5px;
    border-bottom: 4px solid $python-yellow;
  }

  .accordion-tabs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 45px;

    a {
      color: $python-yellow;
      text-transform: uppercase;
      text-align: center;
      padding-bottom: 5px;
    }

    a:hover {
      color: $background-light;
    }
  }

  .schedule_category_type a {
    font-size: 22px;

    &.active {
      border-bottom: 5px solid $python-yellow;
    }
  }

  .schedule_category_days {
    text-align: center;
  }

  .schedule_category_days a {
    font-size: 18px;
    display: inline-block;

    &.active {
      border-bottom: 2px solid $python-yellow;
    }
  }

  .schedule_article {
    display: flex;
    flex-direction: row;
  }

// .schedule_article:last-child .picture-container:after
  .schedule_article:last-child .picture-container:before {
    display: none;
  }

  .schedule_picture {
    height: 60px;
    width: 60px;
    overflow: hidden;
    border-radius: 50%;

    img {
      position: relative;
      z-index: 9;
    }
  }

  .picture-container {
    position: relative;
    width: 60px;

    &:before {
      content: '';
      width: 1px;
      height: 100%;
      background: $light-blue;
      display: block;
      position: absolute;
      left: 30px;
      top: 10px;
    }

    &:after {
      content: '';
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background: $light-blue;
      display: block;
      position: absolute;
      left: 22px;
      top: 8px;
    }
  }

  .schedule_info {
    padding-left: 35px;
    margin-bottom: 20px;
  }

  .schedule_time {
    color: $light-blue;
    font-size: 22px;
    font-weight: 400;
    padding-right: 35px;
  }

  .schedule_name {
    color: $python-yellow;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.2;
  }

  .schedule_category {
    background: $light-blue;
    font-size: 12px;
    color: $dark-blue;
    padding: 2px 5px;
    border-radius: 5px;
    margin-right: 5px;
  }

  .schedule_office {
    font-family: nunito;
    font-size: 14px;
    font-weight: 400;
    color: rgba($background-light, 0.8);
  }

  .schedule_speak {
    font-size: 18px;
    font-weight: 400;
    font-family: nunito;
    color: $background-light;
  }
}

@media (max-width: $breakpoint-sm) {
  .schedule-page {
  }
}
