.header {
  width: 100%;
  margin-top: 64px;
}

.header__nav {
  z-index: 999;
  height: 64px;
  width: 100%;
  position: fixed;
  top: 0;
  margin-bottom: 64px;
  background: $dark-blue;
  @extend .d-flex;
  @extend .align-items-center;
  .nav__items {
    @extend .hidden-sm-down;
    @extend .container;
    @extend .d-flex;
    @extend .justify-content-around;
    padding: 0px;
    margin: 0 auto;
    .nav__item {
      list-style: none;
      padding: 0px 9px;
      .nav__anchor {
        font-size: 24px;
        text-transform: uppercase;
        font-weight: 500;
        color: white;
        text-decoration: none;
        transition: color .3s ease-out;
        &:hover {
          text-decoration: none;
          color: $python-yellow;
        }
      }
    }
  }
}

@media (min-width: $breakpoint-sm) {
  .header {
    margin-top: 100px;
  }
  .header__nav {
    height: 100px;
    margin-bottom: 100px;
  }
}

.header__nav-mobile {
  @extend .hidden-sm-up;
  width: 80%;
  height: 100vh;
  background-color: $dark-blue;
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 1000;
  transition: transform 0.3s ease-in;
  transform: translateX(100%);
  .nav__items {
    .nav__item {
      list-style: none;
    }
  }
}

.header__nav-mobile[data-opened="true"] {
  transform: none;
}

.mobile-nav-trigger {
  @extend .hidden-sm-up;
}