.call4papers-wrapper {
  @extend .container-fluid;
  height: 800px;
  height: calc(50vh - 64px);
  max-height: 800px;
  background-color: rgba(255, 255, 255, 0.1);
  text-align: center;
  padding-top: 35;
  h1 {
    font-size: 2em;
  }
  p {
    margin-bottom: 0;
  }
}

@media(min-width: 576px) {
  .call4papers-wrapper {
    min-height: 200;
    max-height: 200;
  }
}

@media(min-width: 767px) {
  .call4papers-wrapper {
    min-height: 255;
    max-height: 200;
    padding-top: 15;
    h1 {
      font-size: 2.5em;
    }
  }
}

@media(min-width: 991px) {
  .call4papers-wrapper {
    height: calc(50vh - 150px);
    min-height: 280;
    max-height: 220;
    padding-top: 60;
    h1 {
      font-size: 3em;
    }
  }
}

@media(min-width: 1200px) {
  .call4papers-wrapper {
    min-height: 270;
    max-height: 200;
    padding-top: 0;
    h1 {
      font-size: 3em;
    }
  }
}
