.call4papers-wrapper {
  @include make-angle ($background-dark, 5);
  width: 100%;
  background-color: $background-dark;
  background-image: url('../img/Python14-Cobras-Transparente.svg');
  background-size: 200px;
  background-position: calc(100% + 30px) calc(100% - 50px);
  background-repeat: no-repeat;
}

.call4papers-container {
  @extend .container;
  padding-bottom: 30px;
  .call4papers {
    @extend .row;
    width: 100%;
    @extend .d-flex;
    @extend .justify-content-center;

    &__body {
      font-size: 200%;
    }
  }
}
