.footer {
  padding-top: 50px;
  background-color: $dark-blue;
  &__nav {
    @extend .d-flex;
    @extend .justify-content-between;
    flex-wrap: wrap;
    &__menu {
      &__title {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 0px;
        color: $python-yellow;
        text-transform: uppercase;
      }
      &__item {
        list-style: none;
        padding-top: 3px;
        padding-bottom: 3px;
        a {
          font-family: 'Nunito', sans-serif;
          color: white;
          text-transform: uppercase;
          font-size: 16px;
        }
      }
    }
  }
  &-note {
    font-family: 'Nunito', sans-serif;
    width: 100%;
    margin-top: 80px;
    color: white;
  }
  .pybr-button--light {
    width: 100%;
    max-width: 360px;
    padding-top: 13px;
    padding-bottom: 13px;
    font-weight: 600;
  }
  &__actions {
    @extend .d-flex;
    @extend .justify-content-around;
    @extend .align-items-center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 40px;
    .social__nav {
      margin-top: 45px;
      &__menu {
        @extend .d-flex;
        @extend .justify-content-center;
        width: 100%;
        &__item {
          padding: 0px 13px;
          list-style: none;
          height: 40px;
          width: auto;
        }
      }
    }
  }
}

@media (min-width: $breakpoint-sm) {
  .footer {
    &__actions {
      .social__nav {
        margin-top: 0px;
      }
    }
  }
}

@media (min-width: $breakpoint-md) {
  .footer {
    .pybr-button--light {
      width: 100%;
      max-width: auto;
      padding-top: 13px;
      padding-bottom: 13px;
    }
    &__actions {
      margin-top: 0px;
      flex-direction: column;
      .social__nav {
        margin-top: 45px;
        width: 100%;
      }
    }
  }
}


