
$footer-margin: 0px;
$footer-padding-top: 50px;

/* STICKY FOOTER */
.content-body {
  overflow-x: hidden;
}
@media (min-width: $breakpoint-xs) {
  .content-body {
    position: relative;
    min-height: calc(100% - #{$nav-height});
    padding-bottom: 583px + $footer-padding-top + $footer-margin;
  }
  .footer {
    position: absolute;
    width: 100%;
    bottom: 0;
  }
}
@media (min-width: $breakpoint-sm) {
  .content-body {
    padding-bottom: 442px + $footer-padding-top + $footer-margin;
  }
}
@media (min-width: $breakpoint-md) {
  .content-body {
    padding-bottom: 432px + $footer-padding-top + $footer-margin;
  }
}
@media (min-width: $breakpoint-lg) {
  .content-body {
    padding-bottom: 330px + $footer-padding-top + $footer-margin;
  }
}

.footer {
  a[disabled] {
    pointer-events: none;
    color: rgba(255, 255, 255, .66) !important;
  }
  padding-top: $footer-padding-top;
  background-color: $dark-blue;
  &__nav {
    @extend .d-flex;
    @extend .justify-content-between;
    flex-wrap: wrap;
    &__menu {
      margin-bottom: 15px;
      padding-left: 5px;
      padding-right: 5px;
      &:first-child {
        padding-left: 0px;
      }
      &:last-child {
        padding-right: 0px;
      }
      &__title {
        display: inline-block;
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 0px;
        color: $python-yellow;
        text-transform: uppercase;
      }
      &__item {
        list-style: none;
        padding-top: 3px;
        padding-bottom: 3px;
        a {
          font-family: 'Nunito', sans-serif;
          color: white;
          text-transform: uppercase;
          font-size: 16px;
        }
      }
    }
  }
  &-note {
    font-family: 'Nunito', sans-serif;
    width: 100%;
    margin-top: 65px;
    color: white;
  }
  .pybr-button--light {
    width: 100%;
    max-width: 360px;
    padding-top: 13px;
    padding-bottom: 13px;
    font-weight: 600;
  }
  &__actions {
    @extend .d-flex;
    @extend .justify-content-around;
    @extend .align-items-center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 40px;
    [class*=pybr-button]{
      color: $dark-blue;
    }
    .social__nav {
      margin-top: 45px;
      &__menu {
        @extend .d-flex;
        @extend .justify-content-center;
        width: 100%;
        &__item {
          padding: 0px 13px;
          list-style: none;
          height: 40px;
          width: auto;
          opacity: 0.8;
          transition: 0.2s ease-out;
        }
      }
    }

    .social__nav__menu__item:hover {
      opacity: 1;
    }
  }
}

@media (min-width: $breakpoint-sm) {
  .footer {
    &__actions {
      .social__nav {
        margin-top: 0px;
      }
    }
  }
}

@media (min-width: $breakpoint-lg) {
  .footer {
    .pybr-button--light {
      width: auto;
      max-width: auto;
      padding-top: 20px;
      padding-bottom: 20px;
    }
    &__actions {
      margin-top: 0px;
      flex-direction: column;
      .social__nav {
        margin-top: 45px;
        width: 100%;
      }
    }
  }
}
