$sponsor-height: 130px;
.partners-wrapper {
  @extend .about-wrapper;
  @include make-angle ($background-dark, 0);
  background-color: $background-dark;

  .partners-container {
    @extend .container;
  }

  .partners {
    @extend .row;
  }

  .section-header-wrapper {
    margin-bottom: 100px;
  }

  .section-header--right {
    @extend .col-lg-6;
    @extend .col-md-8;
  }
}

.partners {
  .partner-list {
    @extend .col-lg-12;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 300px;
    height: 30vh;
    display: block;

    img {
      margin-top: 20px;
      height: 100px;
    }
  }
  .partner {
    margin-right: 100px;

    &:hover {
      text-decoration: none;
    }
  }

  .partner:last-child {
    margin-right: 0;
  }
}

.sponsors__platinum {
  img {
    height: $sponsor-height * 2.25;
    width: auto;
  }
}

.sponsors__gold {
  img {
    height: $sponsor-height * 1.5;
    width: auto;
  }
}

.sponsors__silver {
  img {
    height: $sponsor-height;
    width: auto;
  }
}

@media (max-width: $breakpoint-xs) {
  .partners {
    .partner-list {
      flex-direction: column;
      align-items: center;
    }

    .partner {
      margin-right: 0;
      margin-bottom: 60px;
    }
  }
}
