<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Advent+Pro:500,600,700" rel="stylesheet">
  <link rel="stylesheet" href="styles.css" charset="utf-8">
    <meta charset="UTF-8">
  <title>Python Brasil 2018</title>
  <meta name="viewport" content="width=device-width">
</head>
<body>
  <header class="header">
    <nav class="header__nav">
      <ul class="nav__items">
        <li class="nav__item"><a class="nav__anchor" href="#">Evento</a></li>
        <li class="nav__item"><a class="nav__anchor" href="#">Keynotes</a></li>
        <li class="nav__item"><a class="nav__anchor" href="#">Programação</a></li>
        <li class="nav__item">
          <a class="nav__anchor" href="#">
            <img width="40px" height="40px" src="<%= require('./img/Python14-Cobras-MenuHeader.svg') %>" alt="Logo Python">
          </a>
        </li>
        <li class="nav__item"><a class="nav__anchor" href="#">Local</a></li>
        <li class="nav__item"><a class="nav__anchor" href="#">Patrocinadores</a></li>
        <li class="nav__item"><a class="nav__anchor" href="#">Blog</a></li>
      </ul>
    </nav>
    <section class="jumbotron-wrapper">
      <div class="jumbotron-container">
        <div class="jumbotron">
          <div class="jumbotron__main">
            <img class="jumbotron__logo" height="auto" src="<%= require('./img/Python14-NomedoEvento.svg') %>" alt="Logo Python Brasil 14">
            <a href="#" class="pybr-button--dark">
              Inscreva-se
              <strong class="d-block">AGORA</strong>
            </a>
          </div>
          <div class="jumbotron__side">
            <img width="100%" src="<%= require('./img/Python14-Logo Forte Reis Magos-02.svg') %>" alt="de 17 a 22 de Outubro de 2018 em Natal, Rio Grande do Norte">
          </div>
        </div>
      </div>
    </section>
    <section class="about-wrapper">
       <div class="about-container">
         <div class="about">
            <article class="about__article--left">
              <header>
                <h1 class="about__article__section-title--left">
                  NATAL-RN
                </h1>
              </header>
              <p class="about__article__body">
                Lorem Ipsum Dolor sit amet, Lorem Ipsum Dolor sit amet, Lorem Ipsum Dolor sit amet, Lorem Ipsum Dolor sit amet, Lorem Ipsum Dolor sit amet,
              </p>
            </article>
            <article class="about__article--right">
              <header>
                <h1 class="about__article__section-title--right">
                  O EVENTO
                </h1>
              </header>
              <p class="about__article__body">
                Lorem Ipsum Dolor sit amet, Lorem Ipsum Dolor sit amet, Lorem Ipsum Dolor sit amet, Lorem Ipsum Dolor sit amet, Lorem Ipsum Dolor sit amet, Lorem Ipsum Dolor sit amet, Lorem Ipsum Dolor sit amet, Lorem Ipsum Dolor sit amet, Lorem Ipsum Dolor sit amet, Lorem Ipsum Dolor sit amet, Lorem Ipsum Dolor sit amet,
              </p>
            </article>
          </div>
        </article>
      </section>
    </section>
    <section class="keynotes-wrapper">
      <div class="keynotes-container">
        <div class="keynotes">
          <header class="section-header-wrapper">
            <div class="section-header">
              <h1 class="section-title--left">
                Keynotes
              </h1>
            </div>
          </header>
          <section class="keynotes__list">
            <article class="keynote__summary">
              <div class="keynote__summary__body">
                <header class="keynote__summary__title">

                </header>
                <p class="keynote__summary__text">

                </p>
              </div>
              <div class="keynote__summary__photo">

              </div>
            </article>
            <article class="keynote__summary">
              <div class="keynote__summary__body">
                <header class="keynote__summary__title">

                </header>
                <p class="keynote__summary__text">

                </p>
              </div>
              <div class="keynote__summary__photo">

              </div>
            </article>
            <article class="keynote__summary">
              <div class="keynote__summary__body">
                <header class="keynote__summary__title">

                </header>
                <p class="keynote__summary__text">

                </p>
              </div>
              <div class="keynote__summary__photo">

              </div>
            </article>
          </section>
        </div>
      </div>
    </section>
  </header>
</body>
</html>