<html>
<head>
  <link target="_blank" href="https://fonts.googleapis.com/css?family=Advent+Pro:500,600,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="styles.css" charset="utf-8">
    <meta charset="UTF-8">
  <title>Python Brasil 2018</title>
  <meta name="viewport" content="width=device-width">
</head>
<body>
  <div class="content-wrapper" id="top">
    <nav id="mobile-nav" class="header__nav-mobile">
      <header class="header__nav-mobile__header">
        <h1>Menu</h1>
        <button class="mobile-nav-trigger--close" id="mobile-nav-close-trigger"></button>
      </header>
      <ul class="nav__items">
        <a class="nav__anchor scroll" href="#about"><li class="nav__item">Evento</li></a>
        <a class="nav__anchor scroll" href="#keynotes"><li class="nav__item">Keynotes</li></a>
        <a class="nav__anchor" href="#top"><li class="nav__item">Programação</li></a>
        <a class="nav__anchor scroll" href="#location"><li class="nav__item">Local</li></a>
        <a class="nav__anchor scroll" href="#sponsors"><li class="nav__item">Patrocinadores</li></a>
        <a class="nav__anchor" href="http://blog.pythonbrasil.org.br" target="_blank" ><li class="nav__item">Blog</li></a>
        <a class="nav__anchor" href="mailto:marketing@evolux.net.br" target="_blank" ><li class="nav__item">Contato</li></a>
        <li class="nav__item subscribe-button">
          <a href="#" class="pybr-button--light">
            Inscreva-se Agora
          </a>
        </li>
      </ul>
    </nav>
    <header class="header">
      <nav class="header__nav">
        <div class="header__mobile">
          <a href="/">
            <img width="40px" height="40px" src="<%= require('./img/Python14-Cobras-MenuHeader.svg') %>" alt="Logo Python">
          </a>
          <button class="mobile-nav-trigger" id="mobile-nav-trigger"></button>
        </div>
        <ul class="nav__items">
          <li class="nav__item"><a class="nav__anchor scroll" href="#about">Evento</a></li>
          <li class="nav__item"><a class="nav__anchor scroll" href="#keynotes">Keynotes</a></li>
          <li class="nav__item"><a class="nav__anchor" href="#top">Programação</a></li>
          <li class="nav__item">
            <a class="nav__anchor" href="#top">
              <img width="40px" height="40px" src="<%= require('./img/Python14-Cobras-MenuHeader.svg') %>" alt="Logo Python">
            </a>
          </li>
          <li class="nav__item"><a class="nav__anchor scroll" href="#location">Local</a></li>
          <li class="nav__item"><a class="nav__anchor scroll" href="#sponsors">Patrocinadores</a></li>
          <li class="nav__item"><a class="nav__anchor" href="http://blog.pythonbrasil.org.br" target="_blank" >Blog</a></li>
        </ul>
      </nav>
      <section class="jumbotron-wrapper">
        <div class="jumbotron-container">
          <div class="jumbotron">
            <div class="jumbotron__main">
              <img class="jumbotron__logo" height="auto" src="<%= require('./img/Python14-NomedoEvento.svg') %>" alt="Logo Python Brasil 14">
              <a href="#" class="pybr-button--dark hidden-xs-down">
                Inscreva-se
                <strong class="d-block">AGORA</strong>
              </a>
            </div>
            <div class="jumbotron__side">
              <img class="hidden-xs-down" width="100%" src="<%= require('./img/Python14-Logo Forte Reis Magos-02.svg') %>" alt="de 17 a 22 de Outubro de 2018 em Natal, Rio Grande do Norte">
              <img class="hidden-sm-up pybr-date" src="<%= require('./img/Python14-Logo Forte Reis Magos-02.svg') %>" alt="de 17 a 22 de Outubro de 2018 em Natal, Rio Grande do Norte">
            </div>
            <div class="jumbotron__action">
              <a href="#" class="pybr-button--dark">
                Inscreva-se
                <strong class="d-block">AGORA</strong>
              </a>
            </div>
          </div>
        </div>
      </section>
    </header>
    <section class="about-wrapper" id="about">
        <div class="about-container">
          <div class="about">
            <article class="about__article--left">
              <header>
                <h1 class="about__article__section-title--left">
                  NATAL-RN
                </h1>
              </header>
              <p class="about__article__body">
                Lorem Ipsum Dolor sit amet, Lorem Ipsum Dolor sit amet, Lorem Ipsum Dolor sit amet, Lorem Ipsum Dolor sit amet, Lorem Ipsum Dolor sit amet,
              </p>
            </article>
            <article class="about__article--right">
              <header>
                <h1 class="about__article__section-title--right">
                  O EVENTO
                </h1>
              </header>
              <p class="about__article__body">
                Lorem Ipsum Dolor sit amet, Lorem Ipsum Dolor sit amet, Lorem Ipsum Dolor sit amet, Lorem Ipsum Dolor sit amet, Lorem Ipsum Dolor sit amet, Lorem Ipsum Dolor sit amet, Lorem Ipsum Dolor sit amet, Lorem Ipsum Dolor sit amet, Lorem Ipsum Dolor sit amet, Lorem Ipsum Dolor sit amet, Lorem Ipsum Dolor sit amet,
              </p>
            </article>
          </div>
        </article>
      </section>
    </section>
    <section class="keynotes-wrapper" id="keynotes">
      <div class="keynotes-container">
        <div class="keynotes">
          <header class="section-header-wrapper">
            <div class="section-header">
              <h1 class="section-title--left">
                Keynotes
              </h1>
            </div>
          </header>
          <h1 class="placeholder-message">
            Em breve
          </h1>
          <!-- section class="keynotes__list">
            <article class="keynote__summary">
              <div class="keynote__summary__body">
                <header class="keynote__summary__title">

                </header>
                <p class="keynote__summary__text">

                </p>
              </div>
              <div class="keynote__summary__photo">

              </div>
            </article>
            <article class="keynote__summary">
              <div class="keynote__summary__body">
                <header class="keynote__summary__title">

                </header>
                <p class="keynote__summary__text">

                </p>
              </div>
              <div class="keynote__summary__photo">

              </div>
            </article>
            <article class="keynote__summary">
              <div class="keynote__summary__body">
                <header class="keynote__summary__title">

                </header>
                <p class="keynote__summary__text">

                </p>
              </div>
              <div class="keynote__summary__photo">

              </div>
            </article>
          </section -->
        </div>
      </div>
    </section>
    <section class="location-wrapper" id="location">
      <div class="location-container">
        <div class="location">
          <header class="section-header-wrapper">
            <div class="section-header--right">
              <h1 class="section-title--right">
                LOCAL
              </h1>
            </div>
          </header>
          <div class="location__info">
            <article class="location__info__article">
              <header class="article__header">
                <h1 class="article__header__title">
                  Hotel Holiday Inn Natal
                </h1>
                <p class="article__header__subtitle">
                  Av. Sen. Salgado Filho, 1906 - Lagoa Nova, Natal -RN
                </p>
              </header>
              <section class="article__section">
                <h2>
                  Diária Apto Standard
                </h2>
                <p>Quarto Individual: R$160,00</p>
                <p>Quarto Duplo: R$178,00</p>
              </section>
              <section class="article__section">
                <h2>
                  Diária Apto Superior Luxo
                </h2>
                <p>Quarto Individual: R$172,00</p>
                <p>Quarto Duplo: R$191,00</p>
              </section>
            </article>
            <div class="holiday-inn-banner">
              <img class="img-fluid" src="<%= require('./img/holiday-inn.jpg') %>" alt="Fachada do hotel Holiday Inn">
              <a class="holiday-inn-website" target=""_blank href="http://holidaynatal.com.br">
                www.holidaynatal.com.br
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="map-wrapper" id="map">
      <div class="map-container">
        <div class="map">
          <header class="section-header-wrapper">
            <div class="section-header">
              <h1 class="section-title--left">
                MAPA DO EVENTO
              </h1>
            </div>
          </header>
          <h1 class="placeholder-message">
            Em breve
          </h1>
        </div>
      </div>
    </section>
    <section class="sponsors-wrapper" id="sponsors">
      <div class="sponsors-container">
        <div class="sponsors">
          <header class="section-header-wrapper">
            <div class="section-header--right">
              <h1 class="section-title--right">
                PATROCINADORES
              </h1>
            </div>
          </header>
          <div class="sponsors__diamond">
            <h2 class="sponsor-category-title">
              DIAMANTE
            </h2>
            <ul class="sponsors__list">
              <li class="sponsor">Em Breve</li>
            </ul>
          </div>
          <div class="sponsors__gold">
            <h2 class="sponsor-category-title">
              OURO
            </h2>
            <ul class="sponsors__list">
              <li class="sponsor">Em Breve</li>
            </ul>
          </div>
          <div class="sponsors__silver">
            <h2 class="sponsor-category-title">
              PRATA
            </h2>
            <ul class="sponsors__list">
              <li class="sponsor">Em Breve</li>
            </ul>
          </div>
          <a href="#" class="call-to-sponsor pybr-button-large--light">
            QUERO PATROCINAR
          </a>
        </div>
      </div>
    </section>
    <section class="realization-wrapper" id="realization">
      <div class="realization-container">
        <div class="realization">
          <header class="section-header-wrapper">
            <div class="section-header">
              <h1 class="section-title--left">
                REALIZAÇÃO
              </h1>
            </div>
          </header>
          <div class="evolux-logo">
            <a target="_blank" href="http://evolux.net.br">
              <img src="<%= require('./img/logo-evolux.svg') %>" width="100%" alt="Evolux Logo">
            </a>
          </div>
        </div>
      </div>
    </section>
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-12 col-sm-12">
            <nav class="footer__nav">
              <ul class="footer__nav__menu">
                <h4 class="footer__nav__menu__title">
                  Sobre
                </h4>
                <li class="footer__nav__menu__item">
                  <a href="">O Evento</a>
                </li>
                <li class="footer__nav__menu__item">
                  <a href="">Local</a>
                </li>
                <li class="footer__nav__menu__item">
                  <a href="">Keynotes</a>
                </li>
                <li class="footer__nav__menu__item">
                  <a href="">Programação</a>
                </li>
              </ul>
              <ul class="footer__nav__menu">
                <h4 class="footer__nav__menu__title">
                  Blog
                </h4>
                <li class="footer__nav__menu__item">
                  <a href="">A Cidade</a>
                </li>
                <li class="footer__nav__menu__item">
                  <a href="">O que fazer</a>
                </li>
                <li class="footer__nav__menu__item">
                  <a href="">Onde comer</a>
                </li>
                <li class="footer__nav__menu__item">
                  <a href="">Transporte</a>
                </li>
              </ul>
              <ul class="footer__nav__menu">
                <h4 class="footer__nav__menu__title">
                  Patrocinadores
                </h4>
                <li class="footer__nav__menu__item">
                  <a href="">Diamante</a>
                </li>
                <li class="footer__nav__menu__item">
                  <a href="">Ouro</a>
                </li>
                <li class="footer__nav__menu__item">
                  <a href="">Prata</a>
                </li>
                <li class="footer__nav__menu__item">
                  <a href="">Seja um patrocinador</a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="col-lg-4 col-md-12 offset-lg-1">
            <div class="footer__actions">
              <a href="#" class="pybr-button--light">
                Inscreva-se agora
              </a>
              <nav class="social__nav">
                <ul class="social__nav__menu">
                  <li class="social__nav__menu__item">
                    <a href="#">
                      <img height="100%" src="<%= require('./img/Python14-Icon Facebook.svg') %>" />
                    </a>
                  </li>
                  <li class="social__nav__menu__item">
                    <a href="#">
                      <img height="100%" src="<%= require('./img/Python14-Icon Twitter.svg') %>" />
                    </a>
                  </li>
                  <li class="social__nav__menu__item">
                    <a href="#">
                      <img height="100%" src="<%= require('./img/Python14-Icon Blog.svg') %>" />
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="python-logo col-lg-1 hidden-md-down">
            <img src="<%= require('./img/Python14-Cobras-MenuHeader.svg') %>" width="100%" alt="Python Logo">
          </div>
          <div class="footer-note col-12">
            <p>
              PythonBrasil is a non-profit volunteer-driven conference for promoting the open-source Python programming language. It is supported by the Brazilian Python Association (APyB) and by the Python Software Foundation (PSF).
            </p>
          </div>
        </div>
      </div>
    </footer>
  </div>
</body>
</html>