@import '@material/menu/mdc-menu.scss';

.header__nav {
  .nav__items {
    .mdc-menu {
      background-color: $dark-blue;
      color: white;
      text-transform: uppercase;
      border-radius: 0px;
      min-width: 100%;
      box-shadow: none;
      .mdc-list {
        padding: 0px !important;
      }
      .nav__item {
        color: inherit;
        padding: 0px;
        &:hover {
          text-decoration: none;
        }
        .mdc-list-item {
          font-weight: 600;
          font-family: inherit;
          font-size: 16px;
          position: relative;
          padding: 3px 12px;
          color: white;
          &:hover {
            color: $python-yellow;
            &:before {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              height: 100%;
              width: 4px;
              background-color: $python-yellow;
            }
          }
        }
      }
    }
  }
}