$dark-blue: #102E46;
$light-blue: #7FC7CF;
$python-blue: #7FC7CF;
$python-platinum: #939596;
$python-yellow: #EFC780;
$background-light: #F9F8F4;
$background-dark: #EAEAEA;
$nav-height: 100px;

// RESPONSIVE BREAKPOINTS
$breakpoint-xs: 576px;
$breakpoint-sm: 767px;
$breakpoint-md: 991px;
$breakpoint-lg: 1200px;
$breakpoint-xl: 2000px;
