@import 'bootstrap/scss/bootstrap-grid.scss';
@import 'bootstrap/scss/bootstrap-reboot.scss';
@import 'bootstrap/scss/utilities';
@import 'variables.scss';
@import 'common/common.scss';
@import 'header/header.scss';
@import 'about/about.scss';
@import 'keynotes/keynotes.scss';
@import 'location/location.scss';
@import 'event-map/event-map.scss';
@import 'sponsors/sponsors.scss';
@import 'realization/realization.scss';
@import 'footer/footer.scss';

body {
  font-family: 'Advent Pro', sans-serif;
}

ul {
  margin: 0px;
  padding: 0px;
}

.content-wrapper {
  overflow-x: hidden;
}

.content-wrapper > section {
  padding-top: 30px;
  padding-bottom: 30px;
}

.img-fluid {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}