@import 'variables.scss';

@mixin make-angle($color, $angle) {
  $angle: if($angle > 0, 5, -5);
  margin-top: 0px;
  position: relative;
  &:before, &:after {
    content: '';
    background-color: $color;
    display: block;
    position: absolute;
    height: 100px;
    top: 0px;
  }
  &:before {
    transform-origin: if($angle < 0, left top, right top);
    width: 100%;
    left: 0px;
    transform: skewY(#{$angle}deg);

    @media (min-width: 1441px) {
      transform: skewY(#{$angle * 0.75}deg);
    }

    @media (min-width: 1921px) {
      transform: skewY(#{$angle * 0.6}deg);
    }

    @media (min-width: 2560px) {
      transform: skewY(#{$angle * 0.36}deg);
    }
  }

  &:after {
    transform: translateY(-50px);
    height: 50px;
    width: 35%;
    left: if($angle < 0, 65%, 0px);
    @media (max-width: $breakpoint-md) {
      width: 20%;
      left: if($angle < 0, 80%, 0px);
    }

    @media (max-width: $breakpoint-sm) {
      width: 0%;
      left: if($angle < 0, 80%, 0px);
    }
  }
}

@import 'bootstrap/scss/bootstrap-grid.scss';
@import 'bootstrap/scss/bootstrap-reboot.scss';
@import 'bootstrap/scss/utilities';
@import 'common/common.scss';
@import 'header/header.scss';
@import 'about/about.scss';
@import 'keynotes/keynotes.scss';
@import 'location/location.scss';
@import 'event-map/event-map.scss';
@import 'sponsors/sponsors.scss';
@import 'realization/realization.scss';
@import 'footer/footer.scss';


body {
  font-family: 'Advent Pro', sans-serif;
}

ul {
  margin: 0px;
  padding: 0px;
}

p {
  font-family: 'Nunito', sans-serif !important;
}

.content-wrapper {
  overflow-x: hidden;
}

.content-wrapper > section {
  padding-top: 30px;
  padding-bottom: 30px;
}

.img-fluid {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}