@import 'variables.scss';

.soon {
  position: relative;
  &:after {
    content: 'breve';
    right: 0px;
    top: 50%;
    position: absolute;
    transform: translate(110%, -50%);

    width: 40px;
    height: 25px * .75;
    font-size: 11px;
    border-radius: 8px * 0.75;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $python-blue;
    color: $dark-blue;

    font-family: 'Advent Pro', sans-serif;
    text-align: center;
    text-transform: uppercase;
    line-height: normal;
    font-weight: 700;
  }
  &.no-offset {
    &:after {
      transform: translate(0%, -50%);
    }
  }
}

@mixin make-angle($color, $angle) {
  $angle: if($angle > 0, 5, -5);
  margin-top: 0px;
  position: relative;
  &:before, &:after {
    content: '';
    background-color: $color;
    display: block;
    position: absolute;
    height: 100px;
    top: 0px;
  }
  &:before {
    transform-origin: if($angle < 0, left top, right top);
    width: 100%;
    left: 0px;
    transform: skewY(#{$angle}deg);

    @media (min-width: 1441px) {
      transform: skewY(#{$angle * 0.75}deg);
    }

    @media (min-width: 1921px) {
      transform: skewY(#{$angle * 0.6}deg);
    }

    @media (min-width: 2560px) {
      transform: skewY(#{$angle * 0.36}deg);
    }
  }

  &:after {
    transform: translateY(-50px);
    height: 50px;
    width: 35%;
    left: if($angle < 0, 65%, 0px);
    @media (max-width: $breakpoint-md) {
      width: 20%;
      left: if($angle < 0, 80%, 0px);
    }

    @media (max-width: $breakpoint-sm) {
      width: 0%;
      left: if($angle < 0, 80%, 0px);
    }
  }
}

@import 'bootstrap/scss/bootstrap-grid.scss';
@import 'bootstrap/scss/bootstrap-reboot.scss';
@import 'bootstrap/scss/utilities';
//@import 'bootstrap/scss/transitions';
//@import 'bootstrap/scss/tooltip';
//@import 'bootstrap/scss/modal';
@import 'utils.scss';
@import 'animations/animations.scss';
@import 'common/common.scss';
@import 'header/header.scss';
@import 'about/about.scss';
@import 'keynotes/keynotes.scss';
@import 'location/location.scss';
@import 'event-map/event-map.scss';
@import 'sponsors/sponsors.scss';
@import 'partners/partners.scss';
@import 'realization/realization.scss';
@import 'event/event.scss';
@import 'footer/footer.scss';

@import 'snackbar.scss';
@import 'dropdown.scss';
@import 'intern-pages/intern-pages.scss';


body {
  background-color: #F9F8F4;
  font-family: 'Advent Pro', sans-serif;
}

ul {
  margin: 0px;
  padding: 0px;
}

p {
  font-family: 'Nunito', 'Helvetica Neue', sans-serif !important;
}

.content-wrapper {
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.page-content {
  @extend .transition--opacity-translate;
  background-repeat: no-repeat;
  background-image: url('../img/Python14-MapaRN-cinza-30.svg');
  background-size: 850px;
  background-position-x: 120%;
  background-position-x: calc(100% + 500px);
  background-position-y: 120%;
  background-position-y: calc(100% + 100px);
}

.content-wrapper > section {
  padding-top: 30px;
  padding-bottom: 120px;
  position: relative;
}

.img-fluid {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.anchor {
  display: block;
  margin-top: -120px;
  position: absolute;
  top: 0;
  left: 0;
}

a.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.app-banners {
  position: relative;
  z-index: 999;
  width: 100%;
  padding: 10px;
  background-color: $light-blue;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  p {
    margin: 0;
    font-size: 14px !important;
  }
  @media (min-width: 768px) {
    flex-wrap: nowrap;
  }

  .stores-banners {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    @media (min-width: 768px) {
      flex-wrap: nowrap;
      padding-left: 20px;
    }
    img {
      display: block;
      width: 150px;
      @media(min-width: 768px) {
        width: 200px;
      }
      height: auto;
      flex: 1;
      &.apple {
        width: 120px;
        @media(min-width: 768px) {
          width: 165px;
        }
      }
    }
  }
}


.live-icon {
  color: red;
  margin-right: 10px;
}