
.about-wrapper {
  @include make-angle($python-yellow, 5);
  width: 100%;
  background-color: $python-yellow;
  background-image: url('../img/Python14-Cobras-Transparente.svg');
  background-size: 200px;
  background-position: 100% 100%;
  background-position: calc(0% + 40px) calc(100% - 30px);
  background-repeat: no-repeat;
  .about-container {
    @extend .container;
    padding-bottom: 100px;
  }
}

.about {
  @extend .row;
  @extend .d-flex;
  @extend .justify-content-center;
  @extend .justify-content-sm-between;
  &__article {
    @extend .col-lg-5;
    @extend .col-md-5;
    @extend .col-sm-10;
    @extend .col-10;
    color: black;
    &--left {
      @extend .about__article;
      @extend .offset-1;
      text-align: right;
      margin-top: 30px;
      order: 2;
    }
    &--right {
      @extend .about__article;
      text-align: left;
      order: 1;
    }
    &__body {
      @extend .article__body;
    }
    &__section-title {
      @extend .section-title;
      border-bottom-color: white;
      &--left {
        @extend .section-title;
        border-bottom-color: white;
        position: relative;
        @include infinite-line('left', white)
      }
      &--right {
        @extend .section-title;
        border-bottom-color: white;
        position: relative;
        @include infinite-line('right', white)
      }
    }
  }
}

@media (min-width: $breakpoint-sm) {
  .about {
    &__article {
      &--left {
        margin-top: 250px;
        order: 1;
      }
      &--right {
        order: 2;
      }
    }
  }
}

@media (min-width: $breakpoint-md) {
  .about-wrapper {
    .about-container {
       background-position: 295px 65px, right bottom;
    }
  }
}
