.about-wrapper {
  @include make-angle($python-yellow, -5);
  width: 100%;
  background-color: $python-yellow;

  .about-container {
    position: relative;
    @extend .container;
    padding-bottom: 120px;
    padding-top: 60px;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 70px;
      background: url('../img/Python14-Cobras-Transparente.svg') no-repeat;
      width: 200px;
      height: 200px;
    }

    &:after {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      background: url('../img/Forte-Outlines.svg') no-repeat;
      width: 340px;
      height: 225px;
    }
  }
}

.about {
  @extend .row;
  @extend .d-flex;
  @extend .justify-content-center;

  .about__article__body {
    @extend .col-lg-8;
    @extend .col-md-10;
    @extend .col-sm-10;
    @extend .col-10;
    color: black;
    position: relative;
    z-index: 9;
  }

  .section-title--left {
    border-color: white;
    @include infinite-line('left', white);
  }

  .about-button {
    display: inline-block;
  }

  .about-button-area {
    text-align: right;
    margin-top: 80px;
  }
}

@media (max-width: $breakpoint-md) {
  .about {
    .about-button-area {
      text-align: center;
    }
  }

  .about-wrapper .about-container:before {
    display: none;
  }
}
